

<mat-card class="cardPersonalizada">
 
    <mat-card-header class="header">    Carga de Imagenes
    <mat-icon style="float: right !important;" (click)="close()" > close </mat-icon>
    </mat-card-header>


    <mat-card-content>
        <form [formGroup] = "form" (ngSubmit)="subirFoto()" #f="ngForm">
        
            <div class="row">
            <div class="col-md-12 container">   
                 <h4 style="margin-top: 20px;" *ngIf="file.length <=  0"> Seleccionar imagenes </h4>
                 <h4 style="margin-top: 20px;" *ngIf="file.length > 0"> Imagenes Cargadas </h4>
                <input type="file" multiple name="files[2]" class="d-none" (change)="FotoSeleccionada($event)"  #photoInput formControlName = "foto"
                accept="image/png, .jpeg, .jpg, image/gif" autofocus>
                <img   *ngIf="file.length <=  0" [src]= "photoSelected || '../../assets/images/imagesDefault.png'" alt="No image"
                    (click)="photoInput.click()" title="Buscar Imagenes">
                </div>

                <div class="col-md-12 container">
                <div *ngIf="file.length > 0">
                    <br>
                    <h4>Ha cargado {{ file.length  }} Imagenes</h4>
                </div>
                </div>

                <div class="col-md-12 container">
                    <div  class="container-login100-form-btn">
                        <button mat-raised-button class="buttonPrincipal" type="submit" [disabled] = "f.invalid">
                            Guardar
                        </button>
                    </div>
                </div>         
        </div>
      
          
        </form>
        
        
    </mat-card-content>
    
</mat-card>  

