<mat-card class="mat-cardContainerCuerpo mat-elevation-z0">
    <form [formGroup]="filtro">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="legacy">
                    <mat-label>
                        <mat-icon> search </mat-icon>
                        Buscar
                    </mat-label>
                    <input matInput placeholder="Cliente, Transporte" formControlName="filtrar">
                </mat-form-field>
            </div>
     
            <div class="col-md-6">
                <div class="text-right">
                    <button mat-raised-button class="buttonPrincipal" [disabled]="!auth.Insercion()">
                        <mat-icon>
                            add
                        </mat-icon>
                        Agregar Relación
                    </button>
                </div>
            </div>
        </div>
    </form>
       <div class="table-responsive !important">
        <table  >
            <!-- <caption>Statement Summary</caption> -->
            <thead>
              <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Transporte</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tr of clientes | search: this.filtro.value.filtrar:parametrosBusqueda | slice: desde: hasta " class="trHover">
                <td data-label="Cliente">    {{ tr?.Cliente }}</td>
                <td data-label="Transporte"> {{ tr?.Transporte }}</td>
                <td data-label="Acciones">
                <div class="text-center">

               <!-- Ver -->
               <button mat-mini-fab class="buttonSecundary" (click)="ModalRol ( 1 , rol )">
                   <mat-icon>visibility</mat-icon>
               </button>
    
               <!-- Eliminar -->
               <button mat-mini-fab class="btnDelete"         [disabled]="!auth.Eliminacion()"  (click)="eliminarRol(rol.rol, rol.ID)"  >
                            <mat-icon>delete_forever</mat-icon>
               </button>
                      
                </div>

                </td>
              </tr>
            </tbody>
          </table>
          
       </div>
          <mat-paginator [length]="clientes.length" [pageSize]="pageSize " (page)="next($event)">
        </mat-paginator>
 
</mat-card>
