<div style="position: relative; margin-bottom: 5px;" class="container" >
    <mat-card class="cardPersonalizada" *ngIf="tipo == 1">
        <form [formGroup]="form" #f="ngForm">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="legacy">
                        <mat-label> Cantidad </mat-label>
                        <input matInput maxlength="2" placeholder=" Cantidad " formControlName ="cantidad">
                    </mat-form-field>
                </div>

           
                <div class="col-md-4">
                    <mat-form-field appearance="legacy">
                        <mat-label> Precio Unitario </mat-label>
                        <input matInput mask="separator.2" thousandSeparator="," placeholder=" Precio Unitario " formControlName ="punitario">
                    </mat-form-field>
                </div>

                <!-- <div class="col-md-4">
                    <mat-form-field appearance="legacy">
                        <mat-label> Descuento y Reb Otorgada </mat-label>
                        <input matInput maxlength="50" placeholder=" Descuento y Reb Otorgada " formControlName ="anio">
                    </mat-form-field>
                </div> -->
                
                <div class="col-md-4">
                    <mat-form-field appearance="legacy">
                        <mat-label> Impuesto </mat-label>
                        <input matInput maxlength="1"  style="text-transform:uppercase;" placeholder=" Impuesto " formControlName ="impuesto">
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field appearance="legacy">
                        <mat-label> Descripción </mat-label>
                        <textarea matInput maxlength="250" placeholder=" Descripción " formControlName ="detalle"></textarea>
                    </mat-form-field>
                </div>

                <div class="container">
                    <button class="buttonPrincipal" mat-raised-button type="submit" [disabled]="f.invalid" (click)="llenarDataManual()" > Agregar </button>
                </div>

            </div>
        </form>
    </mat-card>
</div>

<div class="container padre herencia"  id="Factura" *ngIf="DcabeceraF.length >= 1 && loading1 && loading2 && cabeceraF.length >= 1 && permitido">
    <mat-card class="cardPersonalizada mt-8">
        <div class="row ">
        <div class="col-md-6">
            <img src="../../../../assets/images/logoRansa.ico" alt="">
            <p>
             {{parametros[0]['nombreCompleto']}} <br>
             {{parametros[0]['direccion1']}}: {{ parametros[0]['direccion2']}} <br>
             Municipio: {{ parametros[0]['municipio']}}, Departamento: {{ parametros[0]['Departamento']}} <br> 
             Tel: {{parametros[0]['Telfijo']}}, {{parametros[0]['TelCel']}}  <br>
            <span *ngIf="parametros[0]['correo']"> Correo: {{parametros[0]['correo']}}  </span>
            </p>
        </div>

        <div class="col-md-6 mt-4" style="text-align: center !important;">
            <p>
                <span style = "font-size: 1.3em;" class="rigth">FACTURA</span> <br>
            <span style="text-align:center  !important; color:#FE9600 !important; font-size: 1.2em !important;">
                    000-001-01-{{retornarCorrelativo()}}
                </span>
            </p>
            <!-- <h4 > FECHA: {{ fecha | date:'mediumDate' | uppercase }} </h4> -->
            <h4 > FECHA: {{ dia }}/{{mes}}/{{anio}} </h4>

        <mat-divider class="material-dividier"></mat-divider>

            <p class="rigth"> 
            CAI: {{ parametrosCai[0]['CAI']}} <br>
            <span> RANGO AUTORIZADO </span> <br>
            {{ parametrosCai[0]['desde'] }} AL {{ parametrosCai[0]['hasta'] }} <br>
            FECHA LIMITE DE EMISION: {{ parametrosCai[0]['fechaLimite'] | date: 'dd/MM/yyyy'}} 
            </p>
        </div>

        <div class="mt-2 container">
            <div class="row contain1 ">
                <div class="col-md-6" >
                    <p>
                    <span style="text-align: left !important;" class="leftC"> CLIENTE: {{  cabeceraF[0]['TCMPCL'] }} </span> <br>
                    <span style="text-align: left !important;"> DIRECCION: {{cabeceraF[0]['TDRCOR'] }} </span> <br>
                    <!-- <span style="text-align: left !important;"> TELEFONO : 2290-0200</span> -->
                    </p>
                    </div>
                    <div class="col-md-6 center container">
                        <p>
                     RTN: {{ cabeceraF[0]['NRUC2'] }}
                        </p>
                    </div>
            </div>
        </div>


        <div class="tabla mt-4" >
            <div class="table-responsive !important" >
                <table>
                    <thead>
                      <tr >
                        <th class="contenidoF" scope="col">CANTIDAD</th>
                        <th class="contenidoF" scope="col">DESCRIPCION</th>
                        <th class="contenidoF" scope="col">PRECIO UNITARIO</th>
                        <th class="contenidoF" scope="col">DESC. Y REB OTORGADA</th>
                        <th class="contenidoF" scope="col">IMPUESTO</th>
                        <th class="contenidoF" scope="col">TOTAL</th>
                      </tr>
                    </thead>


                    <tbody class="bordes2" *ngIf="tipo == 0">
                      <tr *ngFor="let item of DcabeceraF; let i = index"> 
                        <td data-label="CANTIDAD" class="contenidoF"> {{ item?.QAPCTC  | number }} </td>
                        <td data-label="DESCRIPCION" class="contenidoF"> {{item?.TCMTRF }} </td>
                        <td data-label="PRECIO UNITARIO" class="contenidoF">{{ retornarPrecioUnitario(i, item?.QAPCTC) | number : '1.2-2' }}</td>
                        <td data-label="DESC. Y REB OTORGADA" class="contenidoF">{{ 0    | number : '1.2-2' }}</td>
                        <td data-label="IMPUESTO" class="contenidoF"> {{ retornarLetra( item?.TCMTRF )}} </td>
                        <td data-label="TOTAL" class="contenidoF">{{ item?.IVLDCS    | number : '1.2-2' }}</td>
                      </tr>
               

                      <!-- <tr>
                        <td data-label="CANTIDAD"> 01</td>
                        <td data-label="DESCRIPCION">FLETE</td>
                        <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                        <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                        <td data-label="IMPUESTO"> G </td>
                        <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                      </tr> -->

                        <tr  *ngFor="let item of espaciosBlancos "> 
                            <td class="espacioB"  colspan="6"></td>
                        </tr>

                        <tr> 
                            <td style="text-align:left !important; font-size: 1.2em !important; " class="espacioB" colspan="5">
                                <!-- {{obs}} -->
                                {{ Observaciones }}
                                <!-- <p style="text-align:left !important; font-size: 0.9em !important; ">
                                </p> -->
                            </td>
                            <td style="text-align:left !important; font-size: 0.9em !important; " class="espacioB" colspan="1">
                            </td>
                        </tr>
                    
                    </tbody>

                    <tbody class="bordes2" *ngIf="tipo == 1">
                        <tr *ngFor="let item of detalleServicios; let i = index"> 
                          <td data-label="CANTIDAD" class="contenidoF"> {{ item?.cantidad  | number }} </td>
                          <td data-label="DESCRIPCION" class="contenidoF"> {{item?.descripcion }} </td>
                          <td data-label="PRECIO UNITARIO" class="contenidoF">{{ item?.Punitario | number : '1.2-2' }}</td>
                          <td data-label="DESC. Y REB OTORGADA" class="contenidoF">{{ 0    | number : '1.2-2' }}</td>
                          <td data-label="IMPUESTO" class="contenidoF"> {{ item?.impuesto | uppercase }} </td>
                          <td data-label="TOTAL" class="contenidoF">{{ item?.total    | number : '1.2-2' }}</td>
                        </tr>
                 
  
                        <!-- <tr>
                          <td data-label="CANTIDAD"> 01</td>
                          <td data-label="DESCRIPCION">FLETE</td>
                          <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                          <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                          <td data-label="IMPUESTO"> G </td>
                          <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                        </tr> -->
  
                          <tr  *ngFor="let item of espaciosBlancos2"> 
                              <td class="espacioB"  colspan="6"></td>
                          </tr>
  
                          <tr> 
                              <td style="text-align:left !important; font-size: 1.2em !important; " class="espacioB" colspan="5">
                                  <!-- {{obs}} -->
                                  {{ Observaciones }}
                                  <!-- <p style="text-align:left !important; font-size: 0.9em !important; ">
                                  </p> -->
                              </td>
                              <td style="text-align:left !important; font-size: 0.9em !important; " class="espacioB" colspan="1">
                              </td>
                          </tr>
                      
                      </tbody>

                      <tfoot>
                        <tr >
                                <!-- Número a letras -->
                            <th class="legend left bordeIz" style="border-bottom-style: hidden !important;" colspan="4" >VALOR EN LETRAS: <span class="legend">
                                <!-- CUATRO MIL SEICIENTOS CINCUENTA Y CUATRO LEMPIRAS 05/100 M.N -->
                                {{ convertirNumLetra( retornarTotal(),[])}}
                            </span></th>

                        <th class="right"> SUBTOTAL </th>
                        <th class="right"> <p class="legend left bordeIz"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                     {{ retornarSubtotal() | number : '1.2-2':'es' }}</p>  </th>
                        </tr>
                        <!-- Importe Exento -->
                             <tr >
                            <th  class="legend left bordeIz"colspan="4" style="border-bottom-style: hidden !important;" >NO. CORRELATIVO DE ORDEN DE COMPRA EXENTA: {{cabeceraF[0]['TOBCTC']}} </th>
                            <th class="right"> Importe Exento </th>
                            <th class="right"> <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                {{ 0 | number : '1.2-2':'es'}}</p>  </th>
                            </tr>
                        <!-- Importe Exonerado -->
                        <tr >
                            <th class="legend left bordeIz" colspan="4" >NO. CORRELATIVO DE CONSTANCIA DE REGISTRO EXONERADO: {{cabeceraF[0]['TOBCTC2']}}</th>
                            <th class="right" > Importe Exonerado </th>
                            <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                {{ cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es'}}</p>   </th>
                        </tr>
                           <!-- Importe Gravado al 15% -->
                           <tr >
                            <th class="left bordeIz" colspan="4"  style="border-bottom-style: hidden !important;">NO. IDENTIFICATIVO DEL REGISTRO DE LA SAG:
                            <br>
                            </th>
                            <th class="right" colspan="1"> Importe Gravado al 15%</th>
                            <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                {{ retornarSubtotal()-cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es' }} </p>   </th>
                        </tr>

                          <!-- Importe Gravado al 18% -->
                          <tr >
                            <th colspan="4" class="bordeIz"></th>
                            <th class="right" colspan="1"> Importe Gravado al 18% </th>
                            <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                {{ 0 | number : '1.2-2':'es' }} </p>   </th>
                        </tr>

                        <!-- ISV 15% -->
                        <tr >
                            <th class="legend left bordeIz" colspan="4" style="border-bottom-style: hidden !important;">**Vencido el plazo de pago de este documento genera 3% de interés***:</th>
                            <th class="right"> I.S.V 15% </th>
                            <th class="right">   <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                {{ cabeceraF[0]['IVLIGS'] | number : '1.2-2':'es' }} </p>   </th>
                        </tr>

                           <!-- ISV 18% -->
                           <tr >
                            <th class="legend left bordeIz" colspan="4" style="border-bottom-style: hidden !important;">**Si su pago con cheque resulta rechazado tendrá un recargo de L400.00***:</th>
                            <th class="right"> I.S.V 18%</th>
                            <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                {{ 0 | number : '1.2-2'}}  </p> </th>
                        </tr>
                          <!-- Total a pagar -->
                          <tr >
                            <!-- <th ></th> -->
                            <!-- <th colspan="4"></th> -->
                            <!-- <div >
                            </div> -->
                            <th colspan="4"></th>
                            <th class="right" colspan="1"> Total a pagar</th>
                            <th class="right"> <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                {{ retornarTotal() | number : '1.2-2':'es'}}   </p> </th>
                        </tr>
<!--     
                        <tr >
                            <th  colspan="3" style="padding-top: 7%;" class=" footE center legend"> FIRMA Y SELLO DEL CIENTE</th>
                            <th  colspan="3" class=" footE rigth legend"> LA FACTURA ES BENEFICIO DE TODOS, EXIJALA</th>
                        </tr> -->

                    </tfoot>   
                  </table>
               </div>
        </div>

            <div class="row mt-4">
                <div class="col-md 12 mt-4 container footL">
                    <label class="center">  FIRMA Y SELLO DEL CIENTE </label>
                </div>
                <div class="col-md-12 container footL">
                    <label class="center"> ORIGINAL: CLIENTE</label>
                </div>
             
                <div class="col-md 12 container footL">
                    <label class="center">  LA FACTURA ES BENEFICIO DE TODOS, EXIJALA</label>
                </div>
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> DUPLICADO: TRIBUTARIO EMISOR</label>
                </div> -->
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> TRIPLICADO: ARCHIVO</label>
                </div> -->
            </div>

            <div class="row container">
                <div class="col-md-12 container">
                    <label class="center" style="color:#FE9600 !important;"> {{ parametros[0]['lemaFactura']}} </label>

                </div>
            </div>
        </div>
    </mat-card>
</div>

<div class="container padre herencia mt-4" id="cliente" *ngIf="DcabeceraF.length >= 1 && loading1 && loading2 && cabeceraF.length >= 1 && permitido">
    <mat-card class="cardPersonalizada">
        <div class="row">
        <div class="col-md-6">
            <img src="../../../../assets/images/LOGO_RANSA_BN.png" alt="">
            <p>
             {{parametros[0]['nombreCompleto']}}
             {{parametros[0]['direccion1']}}: {{ parametros[0]['direccion2']}}
             Municipio:{{ parametros[0]['municipio']}}, Departamento: {{ parametros[0]['Departamento']}} <br> 
             Tel: {{parametros[0]['Telfijo']}}, {{parametros[0]['TelCel']}}  
            </p>
        </div>

        <div class="col-md-6 mt-4" style="text-align: center !important;">
            <p>
                <span  class="rigth">FACTURA</span> <br>
            <span style="text-align:center  !important;font-size: 1.2em !important;">
                    000-001-01-{{retornarCorrelativo()}}
                </span>
            </p>
            <!-- <h4 > FECHA: {{ fecha | date:'mediumDate' | uppercase }} </h4> -->
            <h4 > FECHA: {{ dia }}/{{mes}}/{{anio}} </h4>

        <mat-divider class="material-dividier"></mat-divider>

            <p class="rigth"> 
            CAI: {{ parametrosCai[0]['CAI']}} <br>
            <span> RANGO AUTORIZADO </span> <br>
            {{ parametrosCai[0]['desde'] }} AL {{ parametrosCai[0]['hasta'] }} <br>
            FECHA LIMITE DE EMISION: {{ parametrosCai[0]['fechaLimite'] | date: 'dd/MM/yyyy'}} 
            </p>
        </div>

        <div class="mt-2 container">
            <div class="row contain1">
                <div class="col-md-6" >
                    <p>
                    <span style="text-align: left !important;" class="leftC"> CLIENTE: {{  cabeceraF[0]['TCMPCL'] }} </span> <br>
                    <span style="text-align: left !important;"> DIRECCION: {{cabeceraF[0]['TDRCOR'] }} </span> <br>
                    <!-- <span style="text-align: left !important;"> TELEFONO : 2290-0200</span> -->
                    </p>
                    </div>
                    <div class="col-md-6 center container">
                        <p>
                     RTN: {{ cabeceraF[0]['NRUC2'] }}
                        </p>
                    </div>
            </div>
        </div>

        <div class="tabla mt-4 mb-4" >
            <div class="table-responsive !important" >
                <table>
                    <thead>
                      <tr class="bordes">
                        <th class="contenidoF" scope="col">CANTIDAD</th>
                        <th class="contenidoF" scope="col">DESCRIPCION</th>
                        <th class="contenidoF" scope="col">PRECIO UNITARIO</th>
                        <th class="contenidoF" scope="col">DESC. Y REB OTORGADA</th>
                        <th class="contenidoF" scope="col">IMPUESTO</th>
                        <th class="contenidoF" scope="col">TOTAL</th>
                      </tr>
                    </thead>
      

                    <tbody class="bordes2" *ngIf="tipo == 0">
                        <tr *ngFor="let item of DcabeceraF; let i = index"> 
                          <td data-label="CANTIDAD" class="contenidoF"> {{ item?.QAPCTC  | number }} </td>
                          <td data-label="DESCRIPCION" class="contenidoF"> {{item?.TCMTRF }} </td>
                          <td data-label="PRECIO UNITARIO" class="contenidoF">{{ retornarPrecioUnitario(i, item?.QAPCTC) | number : '1.2-2' }}</td>
                          <td data-label="DESC. Y REB OTORGADA" class="contenidoF">{{ 0    | number : '1.2-2' }}</td>
                          <td data-label="IMPUESTO" class="contenidoF"> {{ retornarLetra( item?.TCMTRF )}} </td>
                          <td data-label="TOTAL" class="contenidoF">{{ item?.IVLDCS    | number : '1.2-2' }}</td>
                        </tr>
                 
  
                        <!-- <tr>
                          <td data-label="CANTIDAD"> 01</td>
                          <td data-label="DESCRIPCION">FLETE</td>
                          <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                          <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                          <td data-label="IMPUESTO"> G </td>
                          <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                        </tr> -->
  
                          <tr  *ngFor="let item of espaciosBlancos "> 
                              <td class="espacioB"  colspan="6"></td>
                          </tr>
  
                          <tr> 
                              <td style="text-align:left !important; font-size: 1.2em !important; " class="espacioB" colspan="5">
                                  <!-- {{obs}} -->
                                  {{ Observaciones }}
                                  <!-- <p style="text-align:left !important; font-size: 0.9em !important; ">
                                  </p> -->
                              </td>
                              <td style="text-align:left !important; font-size: 0.9em !important; " class="espacioB" colspan="1">
                              </td>
                          </tr>
                      
                      </tbody>
  
                      <tbody class="bordes2" *ngIf="tipo == 1">
                          <tr *ngFor="let item of detalleServicios; let i = index"> 
                            <td data-label="CANTIDAD" class="contenidoF"> {{ item?.cantidad  | number }} </td>
                            <td data-label="DESCRIPCION" class="contenidoF"> {{item?.descripcion }} </td>
                            <td data-label="PRECIO UNITARIO" class="contenidoF">{{ item?.Punitario | number : '1.2-2' }}</td>
                            <td data-label="DESC. Y REB OTORGADA" class="contenidoF">{{ 0    | number : '1.2-2' }}</td>
                            <td data-label="IMPUESTO" class="contenidoF"> {{ item?.impuesto | uppercase }} </td>
                            <td data-label="TOTAL" class="contenidoF">{{ item?.total    | number : '1.2-2' }}</td>
                          </tr>
                   
    
                          <!-- <tr>
                            <td data-label="CANTIDAD"> 01</td>
                            <td data-label="DESCRIPCION">FLETE</td>
                            <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                            <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                            <td data-label="IMPUESTO"> G </td>
                            <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                          </tr> -->
    
                            <tr  *ngFor="let item of espaciosBlancos2"> 
                                <td class="espacioB"  colspan="6"></td>
                            </tr>
    
                            <tr> 
                                <td style="text-align:left !important; font-size: 1.2em !important; " class="espacioB" colspan="5">
                                    <!-- {{obs}} -->
                                    {{ Observaciones }}
                                    <!-- <p style="text-align:left !important; font-size: 0.9em !important; ">
                                    </p> -->
                                </td>
                                <td style="text-align:left !important; font-size: 0.9em !important; " class="espacioB" colspan="1">
                                </td>
                            </tr>
                        
                        </tbody>

                        <tfoot class="mb-4">
                            <tr >
                                    <!-- Número a letras -->
                                <th class="legend left bordeIz" colspan="4" >VALOR EN LETRAS: <span class="legend">
                                    <!-- CUATRO MIL SEICIENTOS CINCUENTA Y CUATRO LEMPIRAS 05/100 M.N -->
                                    {{ convertirNumLetra( retornarTotal(),[])}}
                                </span></th>
    
                            <th class="right"> SUBTOTAL </th>
                            <th class="right"> <p class="legend left bordeIz"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                         {{ retornarSubtotal() | number : '1.2-2':'es' }}</p>  </th>
                            </tr>
                            <!-- Importe Exento -->
                                 <tr >
                                <th  class="legend left bordeIz"colspan="4" >NO. CORRELATIVO DE ORDEN DE COMPRA EXENTA: {{cabeceraF[0]['TOBCTC']}} </th>
                                <th class="right"> Importe Exento </th>
                                <th class="right"> <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ 0 | number : '1.2-2':'es'}}</p>  </th>
                                </tr>
                            <!-- Importe Exonerado -->
                            <tr >
                                <th class="legend left bordeIz" colspan="4" >NO. CORRELATIVO DE CONSTANCIA DE REGISTRO EXONERADO: {{cabeceraF[0]['TOBCTC2']}}</th>
                                <th class="right" > Importe Exonerado </th>
                                <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es'}}</p>   </th>
                            </tr>
                               <!-- Importe Gravado al 15% -->
                               <tr >
                                <th class="left bordeIz" colspan="4"  >NO. IDENTIFICATIVO DEL REGISTRO DE LA SAG:
                                <br>
                                </th>
                                <th class="right bordeIz" colspan="1"> Importe Gravado al 15%</th>
                                <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ retornarSubtotal()-cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es' }} </p>   </th>
                            </tr>
    
                              <!-- Importe Gravado al 18% -->
                              <tr >
                                <th colspan="4" class="bordeIz"></th>
                                <th class="right" colspan="1"> Importe Gravado al 18% </th>
                                <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ 0 | number : '1.2-2':'es' }} </p>   </th>
                            </tr>
    
                            <!-- ISV 15% -->
                            <tr >
                                <th class="legend left bordeIz" colspan="4" >**Vencido el plazo de pago de este documento genera 3% de interés***:</th>
                                <th class="right"> I.S.V 15% </th>
                                <th class="right">   <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ cabeceraF[0]['IVLIGS'] | number : '1.2-2':'es' }} </p>   </th>
                            </tr>
    
                               <!-- ISV 18% -->
                               <tr >
                                <th class="legend left bordeIz" colspan="4" >**Si su pago con cheque resulta rechazado tendrá un recargo de L400.00***:</th>
                                <th class="right"> I.S.V 18%</th>
                                <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ 0 | number : '1.2-2'}}  </p> </th>
                            </tr>
                              <!-- Total a pagar -->
                              <tr >
                                <!-- <th ></th> -->
                                <!-- <th colspan="4"></th> -->
                                <!-- <div >
                                </div> -->
                                <th colspan="4"></th>
                                <th class="right" colspan="1"> Total a pagar</th>
                                <th class="right"> <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ retornarTotal() | number : '1.2-2':'es'}}   </p> </th>
                            </tr>
    <!--     
                            <tr >
                                <th  colspan="3" style="padding-top: 7%;" class=" footE center legend"> FIRMA Y SELLO DEL CIENTE</th>
                                <th  colspan="3" class=" footE rigth legend"> LA FACTURA ES BENEFICIO DE TODOS, EXIJALA</th>
                            </tr> -->
    
                        </tfoot>  
                  </table>
               </div>
        </div>
            <div class="row mt-4">
                <div class="col-md 12 container footL">
                    <label class="center">  FIRMA Y SELLO DEL CIENTE </label>
                </div>
                <div class="col-md-12 container footL">
                    <label class="center"> DUPLICADO: OBLIGADO TRIBUTARIO EMISOR </label>
                </div>

                        <div class="col-md 12 container footL">
                    <label class="center">  LA FACTURA ES BENEFICIO DE TODOS, EXIJALA</label>
                </div>
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> DUPLICADO: TRIBUTARIO EMISOR</label>
                </div> -->
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> TRIPLICADO: ARCHIVO</label>
                </div> -->
            </div>
            <div class="row container">
                <div class="col-md-12 container">
                    <label class="center" style="color:#050404 !important; padding-top: 3%;"> {{ parametros[0]['lemaFactura']}} </label>

                </div>
            </div>
        </div>
    </mat-card>
</div>

<div class="container padre herencia mt-4" id="archivo" *ngIf="DcabeceraF.length >= 1 && loading1 && loading2 && cabeceraF.length >= 1 && permitido">
    <mat-card class="cardPersonalizada">
        <div class="row">
        <div class="col-md-6">
            <img src="../../../../assets/images/LOGO_RANSA_BN.png" alt="">
            <p>
             {{parametros[0]['nombreCompleto']}}
             {{parametros[0]['direccion1']}}: {{ parametros[0]['direccion2']}}
             Municipio:{{ parametros[0]['municipio']}}, Departamento: {{ parametros[0]['Departamento']}} <br> 
             Tel: {{parametros[0]['Telfijo']}}, {{parametros[0]['TelCel']}}  
            </p>
        </div>

        <div class="col-md-6 mt-4" style="text-align: center !important;">
            <p>
                <span  class="rigth">FACTURA</span> <br>
            <span style="text-align:center  !important; font-size: 1.2em !important;">
                    000-001-01-{{retornarCorrelativo()}}
                </span>
            </p>
            <!-- <h4 > FECHA: {{ fecha | date:'mediumDate' | uppercase }} </h4> -->
            <h4 > FECHA: {{ dia }}/{{mes}}/{{anio}} </h4>

        <mat-divider class="material-dividier"></mat-divider>

            <p class="rigth"> 
            CAI: {{ parametrosCai[0]['CAI']}} <br>
            <span> RANGO AUTORIZADO </span> <br>
            {{ parametrosCai[0]['desde'] }} AL {{ parametrosCai[0]['hasta'] }} <br>
            FECHA LIMITE DE EMISION: {{ parametrosCai[0]['fechaLimite'] | date: 'dd/MM/yyyy'}} 
            </p>
        </div>

        <div class="mt-2 container">
            <div class="row contain1">
                <div class="col-md-6" >
                    <p>
                    <span style="text-align: left !important;" class="leftC"> CLIENTE: {{  cabeceraF[0]['TCMPCL'] }} </span> <br>
                    <span style="text-align: left !important;"> DIRECCION: {{cabeceraF[0]['TDRCOR'] }} </span> <br>
                    <!-- <span style="text-align: left !important;"> TELEFONO : 2290-0200</span> -->
                    </p>
                    </div>
                    <div class="col-md-6 center container">
                        <p>
                     RTN: {{ cabeceraF[0]['NRUC2'] }}
                        </p>
                    </div>
            </div>
        </div>

        <div class="tabla mt-4">
            <div class="table-responsive !important" >
                <table>
                    <thead>
                      <tr class="bordes">
                        <th class="contenidoF" scope="col">CANTIDAD</th>
                        <th class="contenidoF" scope="col">DESCRIPCION</th>
                        <th class="contenidoF" scope="col">PRECIO UNITARIO</th>
                        <th class="contenidoF" scope="col">DESC. Y REB OTORGADA</th>
                        <th class="contenidoF" scope="col">IMPUESTO</th>
                        <th class="contenidoF" scope="col">TOTAL</th>
                      </tr>
                    </thead>
                
                    <tbody class="bordes2" *ngIf="tipo == 0">
                        <tr *ngFor="let item of DcabeceraF; let i = index"> 
                          <td data-label="CANTIDAD" class="contenidoF"> {{ item?.QAPCTC  | number }} </td>
                          <td data-label="DESCRIPCION" class="contenidoF"> {{item?.TCMTRF }} </td>
                          <td data-label="PRECIO UNITARIO" class="contenidoF">{{ retornarPrecioUnitario(i, item?.QAPCTC) | number : '1.2-2' }}</td>
                          <td data-label="DESC. Y REB OTORGADA" class="contenidoF">{{ 0    | number : '1.2-2' }}</td>
                          <td data-label="IMPUESTO" class="contenidoF"> {{ retornarLetra( item?.TCMTRF )}} </td>
                          <td data-label="TOTAL" class="contenidoF">{{ item?.IVLDCS    | number : '1.2-2' }}</td>
                        </tr>
                 
  
                        <!-- <tr>
                          <td data-label="CANTIDAD"> 01</td>
                          <td data-label="DESCRIPCION">FLETE</td>
                          <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                          <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                          <td data-label="IMPUESTO"> G </td>
                          <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                        </tr> -->
  
                          <tr  *ngFor="let item of espaciosBlancos "> 
                              <td class="espacioB"  colspan="6"></td>
                          </tr>
  
                          <tr> 
                              <td style="text-align:left !important; font-size: 1.2em !important; " class="espacioB" colspan="5">
                                  <!-- {{obs}} -->
                                  {{ Observaciones }}
                                  <!-- <p style="text-align:left !important; font-size: 0.9em !important; ">
                                  </p> -->
                              </td>
                              <td style="text-align:left !important; font-size: 0.9em !important; " class="espacioB" colspan="1">
                              </td>
                          </tr>
                      
                      </tbody>
  
                      <tbody class="bordes2" *ngIf="tipo == 1">
                          <tr *ngFor="let item of detalleServicios; let i = index"> 
                            <td data-label="CANTIDAD" class="contenidoF"> {{ item?.cantidad  | number }} </td>
                            <td data-label="DESCRIPCION" class="contenidoF"> {{item?.descripcion }} </td>
                            <td data-label="PRECIO UNITARIO" class="contenidoF">{{ item?.Punitario | number : '1.2-2' }}</td>
                            <td data-label="DESC. Y REB OTORGADA" class="contenidoF">{{ 0    | number : '1.2-2' }}</td>
                            <td data-label="IMPUESTO" class="contenidoF"> {{ item?.impuesto | uppercase }} </td>
                            <td data-label="TOTAL" class="contenidoF">{{ item?.total    | number : '1.2-2' }}</td>
                          </tr>
                   
    
                          <!-- <tr>
                            <td data-label="CANTIDAD"> 01</td>
                            <td data-label="DESCRIPCION">FLETE</td>
                            <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                            <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                            <td data-label="IMPUESTO"> G </td>
                            <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                          </tr> -->
    
                            <tr  *ngFor="let item of espaciosBlancos2"> 
                                <td class="espacioB"  colspan="6"></td>
                            </tr>
    
                            <tr> 
                                <td style="text-align:left !important; font-size: 1.2em !important; " class="espacioB" colspan="5">
                                    <!-- {{obs}} -->
                                    {{ Observaciones }}
                                    <!-- <p style="text-align:left !important; font-size: 0.9em !important; ">
                                    </p> -->
                                </td>
                                <td style="text-align:left !important; font-size: 0.9em !important; " class="espacioB" colspan="1">
                                </td>
                            </tr>
                        
                        </tbody>
                        <tfoot>
                            <tr >
                                    <!-- Número a letras -->
                                <th class="legend left bordeIz" colspan="4" >VALOR EN LETRAS: <span class="legend">
                                    <!-- CUATRO MIL SEICIENTOS CINCUENTA Y CUATRO LEMPIRAS 05/100 M.N -->
                                    {{ convertirNumLetra( retornarTotal(),[])}}
                                </span></th>
    
                            <th class="right"> SUBTOTAL </th>
                            <th class="right"> <p class="legend left bordeIz"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                         {{ retornarSubtotal() | number : '1.2-2':'es' }}</p>  </th>
                            </tr>
                            <!-- Importe Exento -->
                                 <tr >
                                <th  class="legend left bordeIz"colspan="4" >NO. CORRELATIVO DE ORDEN DE COMPRA EXENTA: {{cabeceraF[0]['TOBCTC']}} </th>
                                <th class="right"> Importe Exento </th>
                                <th class="right"> <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ 0 | number : '1.2-2':'es'}}</p>  </th>
                                </tr>
                            <!-- Importe Exonerado -->
                            <tr >
                                <th class="legend left bordeIz" colspan="4" >NO. CORRELATIVO DE CONSTANCIA DE REGISTRO EXONERADO: {{cabeceraF[0]['TOBCTC2']}}</th>
                                <th class="right" > Importe Exonerado </th>
                                <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es'}}</p>   </th>
                            </tr>
                               <!-- Importe Gravado al 15% -->
                               <tr >
                                <th class="left bordeIz" colspan="4"  >NO. IDENTIFICATIVO DEL REGISTRO DE LA SAG:
                                <br>
                                </th>
                                <th class="right bordeIz" colspan="1"> Importe Gravado al 15%</th>
                                <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ retornarSubtotal()-cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es' }} </p>   </th>
                            </tr>
    
                              <!-- Importe Gravado al 18% -->
                              <tr >
                                <th colspan="4" class="bordeIz"></th>
                                <th class="right" colspan="1"> Importe Gravado al 18% </th>
                                <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ 0 | number : '1.2-2':'es' }} </p>   </th>
                            </tr>
    
                            <!-- ISV 15% -->
                            <tr >
                                <th class="legend left bordeIz" colspan="4" >**Vencido el plazo de pago de este documento genera 3% de interés***:</th>
                                <th class="right"> I.S.V 15% </th>
                                <th class="right">   <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ cabeceraF[0]['IVLIGS'] | number : '1.2-2':'es' }} </p>   </th>
                            </tr>
    
                               <!-- ISV 18% -->
                               <tr >
                                <th class="legend left bordeIz" colspan="4" >**Si su pago con cheque resulta rechazado tendrá un recargo de L400.00***:</th>
                                <th class="right"> I.S.V 18%</th>
                                <th class="right">  <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ 0 | number : '1.2-2'}}  </p> </th>
                            </tr>
                              <!-- Total a pagar -->
                              <tr >
                                <!-- <th ></th> -->
                                <!-- <th colspan="4"></th> -->
                                <!-- <div >
                                </div> -->
                                <th colspan="4"></th>
                                <th class="right" colspan="1"> Total a pagar</th>
                                <th class="right"> <p class="legend left"> L.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                                    {{ retornarTotal() | number : '1.2-2':'es'}}   </p> </th>
                            </tr>
    <!--     
                            <tr >
                                <th  colspan="3" style="padding-top: 7%;" class=" footE center legend"> FIRMA Y SELLO DEL CIENTE</th>
                                <th  colspan="3" class=" footE rigth legend"> LA FACTURA ES BENEFICIO DE TODOS, EXIJALA</th>
                            </tr> -->
    
                        </tfoot>  
                  </table>
               </div>
        </div>
            <div class="row mt-4">
                <div class="col-md 12 mt-4 container footL">
                    <label class="center">  FIRMA Y SELLO DEL CIENTE </label>
                </div>
                <div class="col-md-12 container footL">
                    <label class="center"> TRIPLICADO: ARCHIVO </label>
                </div>
                <div class="col-md 12 container footL">
                    <label class="center">  LA FACTURA ES BENEFICIO DE TODOS, EXIJALA</label>
                </div>
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> DUPLICADO: TRIBUTARIO EMISOR</label>
                </div> -->
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> TRIPLICADO: ARCHIVO</label>
                </div> -->
            </div>
            <div class="row container">
                <div class="col-md-12 container">
                    <label class="center" style="color:#050404 !important; padding-top: 3%;"> {{ parametros[0]['lemaFactura']}} </label>

                </div>
            </div>
        </div>
    </mat-card>
</div>
<!-- id?:string, NombreFinal ?: string, detalle?: string, titulo ?: string -->
<button mat-raised-button class="buttonPrincipal btn-flotante" #tooltip="matTooltip" matTooltip="Generar PDF"  matTooltipPosition="left" 
(click)="GenerarPdf()">
    <mat-icon> picture_as_pdf </mat-icon>
</button>
<!-- this.cabeceraF[0]['NDCCTC'] -->
<app-loading2 *ngIf="!loading1 && !loading2"></app-loading2>

<nav *ngIf="DcabeceraF.length < 1 || cabeceraF.length < 1 || !loading1 || !loading2" aria-label="breadcrumb">
    <ol class="breadcrumb container">
     <h4> No se encuentra información de la factura {{ documento }} del cliente {{cliente}} </h4>
    </ol>
</nav>

<nav *ngIf="!permitido" aria-label="breadcrumb" class="container">
    <ol class="breadcrumb container">
     <h4> Rango de Facturas vencido </h4>
    </ol>
</nav>

