<mat-card class="mat-cardContainerCuerpo mt-4">
<div class="row">
    <div class="col-md-6">
        <form [formGroup]="filtro">
            <mat-form-field appearance="legacy">
                <mat-label>
                    <mat-icon> search </mat-icon>
                    Buscar
                </mat-label>
                <input matInput placeholder="Usuario, Nombre, Departamento....." formControlName="filtrar">
            </mat-form-field> 
         </form>
     </div>
    
     <div class="col-md-6">
        <div class="text-right">
            <button mat-raised-button class="buttonPrincipal" [disabled]="!auth.Insercion()" (click)="ModalPermisos(2)">
                <mat-icon>
                    add
                </mat-icon>
                Agregar Usuario
            </button>
        </div>
    </div>
</div>


 <div class="table-responsive !important">
    <table  >
        <!-- <caption>Statement Summary</caption> -->
        <thead>
          <tr> 
            <th scope="col">Usuario Ransa  </th>
            <th scope="col">Colaborador    </th>
            <th scope="col">CCO            </th>
            <th scope="col">Estado         </th>
            <th scope="col">Acciones       </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permiso of permisos  | search: this.filtro.value.filtrar:parametrosBusqueda | slice: desde: hasta " class="trHover">
            <td data-label="Usuario Ransa"> {{  permiso?.USUARIO      }}</td>
            <td data-label="Colaborador">   {{  permiso?.NOMBRE       }}</td>
            <td data-label="CCO">           {{  permiso?.Departamento }}</td>
            <td data-label="Estado">
                <span *ngIf="permiso?.idEstado == 1">
                    <mat-icon class="success">check_box</mat-icon>
                </span>
                <span *ngIf="permiso?.idEstado != 1">
                    <mat-icon class="error">indeterminate_check_box</mat-icon>
                </span>    
            </td>
            <td data-label="Acciones">
                <div class="text-center">

                      <!-- Editar -->
                 <button mat-mini-fab class="buttonSecundary" [disabled]="!auth.Actualizacion()" (click)="ModalPermisos(3, permiso)">
                    <mat-icon>create</mat-icon>
                </button>
               <!-- Cambiar estado -->
               <button mat-mini-fab class="search" class="buttonSecundary" [disabled]="!auth.Actualizacion()" *ngIf="permiso?.idEstado == 1"  (click)="permisosCafeteria(permiso?.CONTROL, 2)" title="Inhabilitar">
                <mat-icon>toggle_on</mat-icon>
            </button>

        <button mat-mini-fab class="search" class="btnDelete"              [disabled]="!auth.Actualizacion()" *ngIf="permiso?.idEstado != 1"  (click)="permisosCafeteria(permiso?.CONTROL, 1)" title="Habilitar">
            <mat-icon>toggle_off</mat-icon>
            </button>


                </div>

                </td>

          </tr>
        </tbody>
      </table>
      
   </div>
      <mat-paginator [length]="permisos.length" [pageSize]="pageSize " (page)="next($event)">
    </mat-paginator>
</mat-card>