<mat-card class="mat-cardContainerCuerpo mt-4">
    <form [formGroup]="filtro" #f ="ngForm">
        <div class="row">
         <h4 class="titulo2"> CORRECCIONES </h4>
         <div class="col-md-4">
             <mat-form-field appearance="legacy">
                 <mat-label> Mes </mat-label>
                 <mat-select  formControlName="mes"  > 
                     <mat-option #Mes *ngFor="let item of meses" [value]="item?.idMes">
                         {{  item?.mes | uppercase }}
                     </mat-option> 
                   </mat-select> 
               </mat-form-field>
         </div>
 
         <div class="col-md-4">
             <mat-form-field appearance="legacy">
                 <mat-label> Año </mat-label>
                 <input matInput mask="9999" placeholder="Año" formControlName="anio">
             </mat-form-field>
         </div>
 
         <div class="col-md-4">
           <div class="text-right">
               <button mat-raised-button class="buttonPrincipal"  [disabled]="f.invalid" (click)="cargarData()">
                   <mat-icon>     search  </mat-icon>
               </button>
           </div>
         </div> 
        </div>
     </form>
</mat-card>


<mat-card class="mat-cardContainerCuerpo mt-4" *ngIf="data1.length >= 1">
    <h4 class="titulo">SAUCE</h4>
    <app-audoritas-detalle [data]="data1" [dataS]="data1" [dataA]="data2" [dataAR]="data3" [dataAS]="data4" [dataFR]="data5" [Tipo]="'Correccion'" ></app-audoritas-detalle>
</mat-card>

 <mat-card class="mat-cardContainerCuerpo mt-4"  *ngIf="data2.length >= 1">
    <h4 class="titulo">ALMAHSA</h4>
    <app-audoritas-detalle [data]="data2" [dataS]="data1" [dataA]="data2" [dataAR]="data3" [dataAS]="data4" [dataFR]="data5" [Tipo]="'Correccion'" ></app-audoritas-detalle>
</mat-card>

<mat-card class="mat-cardContainerCuerpo mt-4"  *ngIf="data3.length >= 1">
    <h4 class="titulo">ARCHIVO</h4>
    <app-audoritas-detalle [data]="data3" [dataS]="data1" [dataA]="data2" [dataAR]="data3" [dataAS]="data4" [dataFR]="data5" [Tipo]="'Correccion'" ></app-audoritas-detalle>
</mat-card> 

<mat-card class="mat-cardContainerCuerpo mt-4"  *ngIf="data4.length >= 1">
    <h4 class="titulo">ARCHIVO SPS</h4>
    <app-audoritas-detalle [data]="data4"  [dataS]="data1"  [dataA]="data2" [dataAR]="data3" [dataAS]="data4" [dataFR]="data5" [Tipo]="'Correccion'"  ></app-audoritas-detalle>
</mat-card> 

<mat-card class="mat-cardContainerCuerpo mt-4"  *ngIf="data5.length >= 1">
    <h4 class="titulo">FRIO</h4>
    <app-audoritas-detalle [data]="data5"  [dataS]="data1"  [dataA]="data2" [dataAR]="data3" [dataAS]="data4" [dataFR]="data5" [Tipo]="'Correccion'"  ></app-audoritas-detalle>
</mat-card> 