<mat-card class="mat-cardContainerCuerpo mat-elevation-z0">
    <form [formGroup]="filtro">
        <div class="row">
            <div class="col-md-6">
    
                <mat-form-field appearance="legacy">
                    <mat-label>
                        <mat-icon> search </mat-icon>
                        Buscar
                    </mat-label>
                    <input matInput placeholder="Propietario, Sede" formControlName="filtrar">
                </mat-form-field>
    
            </div>
     
            <div class="col-md-6">
                <div class="text-right">
                    <button mat-raised-button class="buttonPrincipal" [disabled]="!auth.Insercion()" (click)="Modal( 2 )">
                        <mat-icon>
                            add
                        </mat-icon>
                        Agregar Propietario
                    </button>
                </div>
            </div>
        </div>
    </form>
       <div class="table-responsive !important">
        <table  >
            <!-- <caption>Statement Summary</caption> -->
            <thead>
              <tr>
                <th scope="col">Propietario    </th>
                <th scope="col">usuarioAuth0   </th>
                <th scope="col">PropietarioQA  </th>
                <th scope="col">usuarioAuth0QA </th>
                <th scope="col">Sede</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let act of data  | search: this.filtro.value.filtrar:parametrosBusqueda | slice: desde: hasta " class="trHover">
                <td data-label="Propietario">   {{ act?.propietario     }}</td>
                <td data-label="usuarioAuth0">  {{ act?.usuarioAuth0    }}</td>
                <td data-label="PropietarioQA"> {{ act?.propietarioQA   }}</td>
                <td data-label="usuarioAuth0QA">{{ act?.usuarioAuth0QA  }}</td>
                <td data-label="Sede">          {{ act?.SEDEF           }}</td>
                <td data-label="Acciones">
                <div class="text-center">

               <!-- Ver -->
               <button mat-mini-fab class="buttonSecundary"   #tooltip="matTooltip" matTooltip="Ver Propietario" (click)="Modal ( 1 , act )"  matTooltipPosition="left">
                   <mat-icon>visibility</mat-icon>
               </button>
                 <!-- Editar -->
                 <button mat-mini-fab class="buttonSecundary" [disabled]="!auth.Actualizacion()" #tooltip="matTooltip" matTooltip="Editar Propietario" matTooltipPosition="right" (click)="Modal ( 3 , act )" >
                   <mat-icon>create</mat-icon>
               </button>
               <!-- Eliminar -->
               <button mat-mini-fab class="btnDelete"         [disabled]="!auth.Eliminacion()"      #tooltip="matTooltip" matTooltip="Eliminar Propietario"  matTooltipPosition="right" (click)="eliminarRol(rol.rol, rol.ID)"  >
                            <mat-icon>delete_forever</mat-icon>
               </button>
                      
                </div>

                </td>
              </tr>
            </tbody>
          </table>
       </div>
          <mat-paginator [length]="data.length" [pageSize]="pageSize " (page)="next($event)">
        </mat-paginator>
        

 
</mat-card>