<mat-card class="mat-cardContainerCuerpo">
  <div class="row">
    <div class="col-md-6 container">
        <img src="../../../../../assets/images/logoRansa.ico" alt="">
    </div>
    <div class="col-md-6 container">
        <h3 class="h4"> Historial de Cambios </h3>
    </div>
</div>

    <form [formGroup]="filtro">
        <div class="row">
            <div class="col-md-6">
    
                <mat-form-field appearance="legacy">
                    <mat-label>
                        <mat-icon> search </mat-icon>
                        Buscar
                    </mat-label>
                    <input matInput placeholder="Código, Llanta, Lote, Posición, Usuario, Comentarios....." formControlName="filtrar">
                </mat-form-field>
    
            </div>
     
        </div>
    </form>
</mat-card>


<mat-card class="mat-cardContainerCuerpo mt-4">
    <div class="table-responsive !important">
        <table>
            <thead>
              <tr>
                <th scope="col">Fecha  </th>
                <th scope="col">Código </th>
                <th scope="col">Llanta </th>
                <th scope="col">Lote   </th>
                <th scope="col">Posición de llanta </th>
                <th scope="col">Usuario     </th>
                <th scope="col">Comentarios </th>
                <th scope="col">Costo       </th>
                <th scope="col">Acciones    </th>     
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cambio of cambios  | search: this.filtro.value.filtrar:parametrosBusqueda | slice: desde: hasta " class="trHover">
                <td data-label="Fecha">   {{ cambio?.Fecha | date : 'shortDate'}}</td>
                <td data-label="Código">  {{ cambio?.CODIGO }}</td>
                <td data-label="Llanta">  {{ cambio?.Llanta }}</td>
                <td data-label="Lote">    {{ cambio?.LOTE }}</td>
                <td data-label="Posición de llanta"> {{ cambio['LlantaCambiada'] }}</td>
                <td data-label="Usuario">     {{ cambio?.USUARIO     }}</td>
                <td data-label="Comentarios"> {{ cambio?.Comentarios }}</td>
                <td data-label="Costo">       {{ cambio?.COSTO | currency : 'Lps ' }}</td>
                <td data-label="Acciones">
                  <div class="text-center">

                   <!-- Editar -->
                   <button mat-mini-fab class="buttonSecundary" (click)="Modal( cambio )" [disabled]="!auth.Actualizacion()">
                     <mat-icon>create</mat-icon>
                 </button>
         <!-- Eliminar -->
         <button mat-mini-fab class="btnDelete" (click)="eliminarCambio(cambio)"     [disabled]="!auth.Eliminacion()"    #tooltip="matTooltip" matTooltip="Eliminar Rol"  matTooltipPosition="right" >
          <mat-icon>delete_forever</mat-icon>
</button>
 </div>
 </td>
 </tr>
 </tbody>
 </table>
 </div>
 <mat-paginator [length]="cambios.length" [pageSize]="pageSize " (page)="next($event)">
 </mat-paginator>
</mat-card>