.titulo{
    width: 100% !important;
    background-color: #006F1D !important;
    color: #ffffff !important;
    text-align: center !important;
}

.titulo2{
    width: 100% !important;
    background-color: #94c1a0 !important;
    color: #ffffff !important;
    text-align: center !important;
}