/* BLANCO PRIMARIO */
$blanco-primario:   #ffffff;
$blanco-secundario: #F8F8FF;
$blanco-tercero:    #F4F4F4;

/* VERDE SECUNDARIO */
$verde-primario:   #006F1D;
$verde-secundario: #008F4C;
$verde-tercero   : #00A72C;

/* TEXTO ANARANJADO / NEGRO */
$anaranjado-primario:   #FE9600;
$anaranjado-secundario: #F5973D;
$anaranjado-tercero   : #F3A505;
$negro-texto   :        #1E1E1E;


/* Configuraciones Fuentes*/
$fontFamily : "Poppins";
$tamaño-FuenteGrande  : 0.8em;
$tamaño-FuentePequeña : 0.52em;
