<div class="container" id="pase">
    <mat-card class="cardPersonalizada">
        <div class="row">
            <div class="col-md-2">
                <img style="width: 150px;" src="../../../../assets/images/logoRansa.ico" alt="">
            </div>
            <div class="col-md-10">
                <div class="linea">  </div>
                <div class="linea2">  </div>
            </div>
        </div>


        <div class="row" style="margin-top: 50px;">
            <h4 class="container" style="color: black; font-size: large; font-weight: bold;"> PASE DE SALIDA </h4>
        </div>
  
<div class="row texto1">
     <h4>
         Anillo periférico, El SAUCE Francisco Morazán {{ data['Fecha'] }}
    </h4>
</div>

<div class="row texto2">
    <h4>
         Atención: Jefatura de entrada
    </h4>
</div>

<div class="row texto2">
    <h4 >
        Por medio de la presente se informa que se da permiso de salir al motorista <span class="subrayado"> {{ data?.['Nombre'] | uppercase }}</span> <br>
        con número de identidad : <span class="subrayado"> {{ data?.['identidad'] }}</span>  <br>   
        con placa: <span class="subrayado">{{ data?.['camion'] }} </span> 
    </h4>
</div>

<div class="row texto2">
    <h4 *ngIf="data['tipo']===1">
        Tipo camión con mercadería de Cliente:   <span class="subrayado"> {{ data?.['Hacia'] }}</span> <br>
        Contenido de Camión:   <span class="subrayado"> {{ data?.['contenido'] }} </span>
    </h4> 
    <h4 *ngIf="data['tipo']===2">
        Tipo camión con mercadería de Proveedor: <span class="subrayado">{{ data?.['Hacia'] }}</span> <br>
        Contenido de Camión:   <span class="subrayado"> {{ data?.['contenido'] }} </span>
    </h4>
    <h4 *ngIf="data['tipo']===3">
        <!-- Tipo camión con mercadería de Persona Natural: <span class="subrayado">{{ data?.['Hacia'] }}</span> <br> -->
        Contenido de Camión:   <span class="subrayado"> {{ data?.['contenido'] }} </span>
    </h4>
    <h4 *ngIf="data['tipo']=== 4">
        <!-- Tipo camión con mercadería de Persona Natural: <span class="subrayado">{{ data?.['Hacia'] }}</span> <br> -->
        Contenido:   <span class="subrayado"> {{ data?.['contenido'] }} </span>
    </h4>
</div>



<div class="row texto3" >
    <h4>
        Hora de salida: <span class="subrayado"> {{ retornarHora(data?.['Hora'])}} {{ ValidacionHora(data?.['Hora'])}}</span>    
    </h4>
</div>

<div class="row texto3" *ngIf="data['tipo']=== 4" >
    <h4>
        Valor Mercancía: <span class="subrayado"> {{ data?.['Valor'] | currency :'L. '}}</span>    
    </h4>
</div>



<div class="row container" style="margin-top: 5%;">
<!-- <div class="col-md-6 container">
    <h4 style="background-color: yellow; font-weight: bold; font-size: medium ;">
        FIRMA DEL QUE AUTORIZA
    </h4>
</div> -->
</div>

<div class="row container mt-4" >
    <div class="col-md-12 container" >
        <h4 style="color:red; font-weight: bold; font-size: medium ;">
           {{data?.['NombreUsuario'] | uppercase }}
        </h4>
        
    </div>
    <div class="col-md-12 container" >
        <h4 style="color:red; font-weight: bold; font-size: medium ;">
           <!-- NOMBRE DE LA PERSONA QUE AUTORIZA -->
           AUTORIZA
        </h4>
    </div>
    </div>

<div>
    <div class="marca-de-agua container">
        <img alt="" src="../../../../assets/images/logoRansa.ico" />
    </div>

</div>
       

    </mat-card>
</div>



<button mat-raised-button class="buttonPrincipal btn-flotante" #tooltip="matTooltip" matTooltip="Generar PDF"  matTooltipPosition="left" 
(click)="GenerarPdf()">
    <mat-icon> picture_as_pdf </mat-icon>
</button>