

<mat-card class="cardPersonalizada">
 
    <mat-card-header class="header">    {{ titulo }} {{ subtitulo }}
    <mat-icon style="float: right !important;" (click)="close()" > close </mat-icon>
    </mat-card-header>


    <mat-card-content>
        <form [formGroup]="modalForm" #f="ngForm" style="margin-top: 2%;">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="legacy">
                        <mat-label>Nombre Motorista</mat-label>
                        <input matInput [readonly]="enable" maxlength="50" style="text-transform:uppercase;"  placeholder="Nombre Motorista" formControlName ="nombre">
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field appearance="legacy">
                        <mat-label>Celular</mat-label>
                        <input matInput [readonly]="enable" maxlength="50" [mask]="mask.numberPhone" placeholder="Celular Motorista" formControlName ="celular">
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field appearance="legacy">
                        <mat-label>Identidad</mat-label>
                        <input matInput [readonly]="enable" id="identidad" [mask]="mask.identidad" #identidad maxlength="50" placeholder="Identidad" formControlName ="identidad">
                    </mat-form-field>
                </div>

                <!-- <div class="col-md-12">
                    <mat-form-field appearance="legacy">
                        <mat-label>Licencia</mat-label>
                        <input matInput  value = "document.getElementById('identidad').value" maxlength="50" placeholder="Licencia" formControlName ="identidad">
                    </mat-form-field>
                </div> -->

                <div class="col-md-12">
                    <mat-form-field appearance="legacy">
                        <mat-label>Vencimiento de Licencia </mat-label>
                        <input name="date" formControlName = "vencimientoLicencia" matInput [matDatepicker]="pickerN">
                        <mat-datepicker-toggle matSuffix [for]="pickerN"></mat-datepicker-toggle>
                        <mat-datepicker #pickerN></mat-datepicker>
                      </mat-form-field>
                </div>

                <div  class="col-md-12 container" >
                      <mat-form-field appearance="legacy">
                        <mat-label>Transporte</mat-label>
                        <input type="text"
                               placeholder="Transporte"
                               matInput
                               formControlName="transportista"
                               [matAutocomplete]="auto">
                        <mat-autocomplete  #auto="matAutocomplete">
                            <div  *ngFor="let option of filteredOptions | async" >
                                <div>
                                    <mat-option value=" {{option.nombreEmpresa}}" (click)="setearValor(option)" (keyup.enter)="setearProveedor(option)">
                                    {{  option?.nombreEmpresa | uppercase }}        
                                    </mat-option>
                                </div>
                            </div>            
                        </mat-autocomplete>
                      </mat-form-field>
                </div>

                </div>
            <div class="container">
                <button class="buttonPrincipal" mat-raised-button type="submit" [disabled]="f.invalid" [hidden]="!botton" (click)="submit()"  >Guardar</button>
            </div>
        </form>
    </mat-card-content>
    
</mat-card>  

