<mat-card class="mat-cardContainerCuerpo mt-4" *ngIf="stockGeneral?.length >= 1">
 
 <form [formGroup]="filtro">
    <mat-form-field appearance="legacy">
        <mat-label>
            <mat-icon> search </mat-icon>
            Buscar
        </mat-label>
        <input matInput placeholder="Llanta" formControlName="filtrar">
    </mat-form-field> 
 </form>
 <div class="table-responsive !important">
    <table  >
        <!-- <caption>Statement Summary</caption> -->
        <thead>
          <tr> 
            <th scope="col">Llanta            </th>
            <th scope="col">Stock             </th>
            <th scope="col">Ultimo Movimiento </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stockGeneral  | search: this.filtro.value.filtrar:parametrosBusqueda | slice: desde: hasta " class="trHover">
            <td data-label="Llanta">            {{  stock?.LLANTA  }}</td>
            <td data-label="Stock">             {{  stock?.STOCK   }}</td>
            <td data-label="Ultimo Movimiento"> {{  stock?.ULTIMOMOVIMIENTO     | date : 'shortDate'   }}</td>
          </tr>
        </tbody>
      </table>
      
   </div>
      <mat-paginator [length]="stockGeneral.length" [pageSize]="pageSize " (page)="next($event)">
    </mat-paginator>
</mat-card>