<div class="container padre" id="Factura" *ngIf="DcabeceraF.length >= 1 && loading1 && loading2 && cabeceraF.length >= 1 && permitido">
    <mat-card class="cardPersonalizada mt-8">
        <div class="row ">
        <div class="col-md-6">
            <img src="../../../../assets/images/Almahsa.png" alt="">
            <p>
             {{parametros[0]['nombreCompleto']}}
             {{parametros[0]['direccion1']}}: {{ parametros[0]['direccion2']}}
             Municipio:{{ parametros[0]['municipio']}}, Departamento: {{ parametros[0]['Departamento']}} <br> 
             Tel: {{parametros[0]['Telfijo']}}, {{parametros[0]['TelCel']}}  <br>
            <span *ngIf="parametros[0]['correo']"> Correo: {{parametros[0]['correo']}}  </span>
            </p>
        </div>

        <div class="col-md-6 mt-4">
            <p>
                <span style="text-align: left !important;">FACTURA</span> <br>
            <span style="text-align:left  !important; color:#FE9600 !important; font-size: 1.2em !important;">
                    000-001-01-{{retornarCorrelativo()}}
                </span>
            </p>
            <!-- <h4 > FECHA: {{ fecha | date:'mediumDate' | uppercase }} </h4> -->
            <h4 > FECHA: {{ dia }}/{{mes}}/{{anio}} </h4>
        <mat-divider class="material-dividier"></mat-divider>

        <p> 
            CAI: {{ parametrosCai[0]['CAI']}} <br>
            <span> RANGO AUTORIZADO </span> <br>
            {{ parametrosCai[0]['desde'] }} AL {{ parametrosCai[0]['hasta'] }} <br>
            FECHA LIMITE DE EMISION: {{ parametrosCai[0]['fechaLimite'] | date: 'dd/MM/yyyy'}} 
            </p>
        </div>

        <div class="mt-2">
            <div class="row contain1">
                <div class="col-md-6" >
                    <p>
                    <span style="text-align: left !important;" class="leftC"> CLIENTE: {{  cabeceraF[0]['TCMPCL'] }} </span> <br>
                    <span style="text-align: left !important;"> DIRECCION: {{cabeceraF[0]['TDRCOR'] }} </span> <br>
                    <!-- <span style="text-align: left !important;"> TELEFONO : 2290-0200</span> -->
                    </p>
                    </div>
                    <div class="col-md-6 center container">
                        <p>
                     RTN: {{ cabeceraF[0]['NRUC2'] }}
                        </p>
                    </div>
            </div>
        </div>

        <div class="tabla mt-4">
            <div class="table-responsive !important" >
                <table>
                    <thead>
                      <tr>
                        <th class="contenidoF" scope="col">CANTIDAD</th>
                        <th class="contenidoF" scope="col">DESCRIPCION</th>
                        <th class="contenidoF" scope="col">PRECIO UNITARIO</th>
                        <th class="contenidoF" scope="col">DESC. Y REB OTORGADA</th>
                        <th class="contenidoF" scope="col">IMPUESTO</th>
                        <th class="contenidoF" scope="col">TOTAL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of DcabeceraF; let i = index">
                        <td data-label="CANTIDAD" class="contenidoF"> {{ item?.QAPCTC  | number }} </td>
                        <td data-label="DESCRIPCION" class="contenidoF"> {{item?.TCMTRF }} </td>
                        <td data-label="PRECIO UNITARIO" class="contenidoF">{{ retornarPrecioUnitario(i, item?.QAPCTC) | number : '1.2-2' }}</td>
                        <td data-label="DESC. Y REB OTORGADA" class="contenidoF">{{ 0    | number : '1.2-2' }}</td>
                        <td data-label="IMPUESTO" class="contenidoF"> {{ retornarLetra( item?.TCMTRF )}} </td>
                        <td data-label="TOTAL" class="contenidoF">{{ item?.IVLDCS    | number : '1.2-2' }}</td>
                      </tr>

                      <!-- <tr>
                        <td data-label="CANTIDAD"> 01</td>
                        <td data-label="DESCRIPCION">FLETE</td>
                        <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                        <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                        <td data-label="IMPUESTO"> G </td>
                        <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                      </tr> -->

                        <tr style=" border-collapse: collapse;"  *ngFor="let item of espaciosBlancos "> 
                            <td class="espacioB"  colspan="6"></td>
                        </tr>

                        <tr style=" border-collapse: collapse;"> 
                            <td style="text-align:left !important; font-size: 0.9em !important; " class="espacioB" colspan="6">
                                {{obs}}
                            </td>
                        </tr>
                    
                    </tbody>
                    <tfoot>
                        <tr >
                                <!-- Número a letras -->
                            <th class="legend left" colspan="4" >VALOR EN LETRAS: <span class="legend">
                                <!-- CUATRO MIL SEICIENTOS CINCUENTA Y CUATRO LEMPIRAS 05/100 M.N -->
                                {{ convertirNumLetra( retornarTotal(),[])}}
                            </span>:</th>

                        <th class="right"> SUBTOTAL L.</th>
                        <th class="right"> {{ retornarSubtotal() | number : '1.2-2':'es' }} </th>
                        </tr>
                        <!-- Importe Exento -->
                             <tr >
                            <th  class="legend left"colspan="4" >NO. CORRELATIVO DE ORDEN DE COMPRA EXENTA: {{cabeceraF[0]['TOBCTC']}} </th>
                            <th class="right"> Importe ExentoL.</th>
                            <th class="right"> {{ 0 | number : '1.2-2':'es'}} </th>
                            </tr>
                        <!-- Importe Exonerado -->
                        <tr >
                            <th class="legend left" colspan="4" >NO. CORRELATIVO DE CONSTANCIA DE REGISTRO EXONERADO: {{cabeceraF[0]['TOBCTC2']}}</th>
                            <th class="right" > Importe ExoneradoL.</th>
                            <th class="right"> {{ cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es'}} </th>
                        </tr>
                           <!-- Importe Gravado al 15% -->
                           <tr >
                            <th class="legend left" colspan="3" >NO. IDENTIFICATIVO DEL REGISTRO DE LA SAG:</th>
                            <th class="right" colspan="2"> Importe Gravado al 15%L.</th>
                            <th class="right"> {{ retornarSubtotal()-cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es' }} </th>
                        </tr>

                          <!-- Importe Gravado al 18% -->
                          <tr >
                            <th ></th>
                            <th ></th>
                            <th ></th>
                            <th class="right" colspan="2"> Importe Gravado al 18%L.</th>
                            <th class="right"> {{ 0 | number : '1.2-2':'es' }} </th>
                        </tr>

                        <!-- ISV 15% -->
                        <tr >
                            <th class="legend left" colspan="4" >**Vencido el plazo de pago de este documento genera 3% de interés***:</th>
                            <th class="right"> I.S.V 15%L.</th>
                            <th class="right"> {{ cabeceraF[0]['IVLIGS'] | number : '1.2-2':'es' }} </th>
                        </tr>

                           <!-- ISV 18% -->
                           <tr >
                            <th class="legend left" colspan="4" >**Si su pago con cheque resulta rechazado tendrá un recargo de L400.00***:</th>
                            <th class="right"> I.S.V 18%L.</th>
                            <th class="right"> {{ 0 | number : '1.2-2'}} </th>
                        </tr>
                          <!-- Total a pagar -->
                          <tr >
                            <!-- <th ></th> -->
                            <th></th>
                            <th></th>
                            <th></th> 
                            <th></th>
                            <!-- <div >
                            <label > INGRESADO POR MARIO VELASQUEZ</label>
                            </div> -->
                            <th class="right"> Total a pagarL.</th>
                            <th class="right"> {{ retornarTotal() | number : '1.2-2':'es'}} </th>
                        </tr>

                        <tr >
                            <!-- <th ></th> -->
                            <th  colspan="3" style="padding-top: 7%;" class=" footE center legend"> FIRMA Y SELLO DEL CIENTE</th>
                            <th  colspan="3" class=" footE rigth legend"> LA FACTURA ES BENEFICIO DE TODOS, EXIJALA</th>
                        </tr>

                    </tfoot>  
                  </table>
               </div>
        </div>
            <div class="row">
                <div class="col-md-12 container footL">
                    <label class="center"> ORIGINAL: CLIENTE</label>
                </div>
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> DUPLICADO: TRIBUTARIO EMISOR</label>
                </div> -->
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> TRIPLICADO: ARCHIVO</label>
                </div> -->
            </div>
            <div class="row container">
                <div class="col-md-12 container">
                    <label class="center" style="color:#FE9600 !important; padding-top: 3%;"> {{ parametros[0]['lemaFactura']}} </label>

                </div>
            </div>
        </div>
    </mat-card>
</div>

<div class="container padre herencia mt-4" id="cliente" *ngIf="DcabeceraF.length >= 1 && loading1 && loading2 && cabeceraF.length >= 1 && permitido">
    <mat-card class="cardPersonalizada">
        <div class="row">
        <div class="col-md-6">
            <img src="../../../../assets/images/Almahsa_BN.png" alt="">
            <p>
             {{parametros[0]['nombreCompleto']}}
             {{parametros[0]['direccion1']}}: {{ parametros[0]['direccion2']}}
             Municipio:{{ parametros[0]['municipio']}}, Departamento: {{ parametros[0]['Departamento']}} <br> 
             Tel: {{parametros[0]['Telfijo']}}, {{parametros[0]['TelCel']}}  
            </p>
        </div>

        <div class="col-md-6 mt-4">
            <p>
                <span style="text-align: left !important;">FACTURA</span> <br>
            <span style="text-align:left  !important; color:#050404 !important; font-size: 1.2em !important;">
                    000-001-01-{{retornarCorrelativo()}}
                </span>
            </p>
            <!-- <h4 > FECHA: {{ fecha | date:'mediumDate' | uppercase }} </h4> -->
            <h4 > FECHA: {{ dia }}/{{mes}}/{{anio}} </h4>
        <mat-divider class="material-dividier"></mat-divider>

        <p> 
            CAI: {{ parametrosCai[0]['CAI']}} <br>
            <span> RANGO AUTORIZADO </span> <br>
            {{ parametrosCai[0]['desde'] }} AL {{ parametrosCai[0]['hasta'] }} <br>
            FECHA LIMITE DE EMISION: {{ parametrosCai[0]['fechaLimite'] | date: 'dd/MM/yyyy'}} 
            </p>
        </div>

        <div class="mt-2">
            <div class="row contain1">
                <div class="col-md-6" >
                    <p>
                    <span style="text-align: left !important;" class="leftC"> CLIENTE: {{  cabeceraF[0]['TCMPCL'] }} </span> <br>
                    <span style="text-align: left !important;"> DIRECCION: {{cabeceraF[0]['TDRCOR'] }} </span> <br>
                    <!-- <span style="text-align: left !important;"> TELEFONO : 2290-0200</span> -->
                    </p>
                    </div>
                    <div class="col-md-6 center container">
                        <p>
                     RTN: {{ cabeceraF[0]['NRUC2'] }}
                        </p>
                    </div>
            </div>
        </div>

        <div class="tabla mt-4">
            <div class="table-responsive !important" >
                <table>
                    <thead>
                      <tr>
                        <th class="contenidoF" scope="col">CANTIDAD</th>
                        <th class="contenidoF" scope="col">DESCRIPCION</th>
                        <th class="contenidoF" scope="col">PRECIO UNITARIO</th>
                        <th class="contenidoF" scope="col">DESC. Y REB OTORGADA</th>
                        <th class="contenidoF" scope="col">IMPUESTO</th>
                        <th class="contenidoF" scope="col">TOTAL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of DcabeceraF; let i = index">
                        <td data-label="CANTIDAD" class="contenidoF"> {{ item?.QAPCTC  | number }} </td>
                        <td data-label="DESCRIPCION" class="contenidoF"> {{item?.TCMTRF }} </td>
                        <td data-label="PRECIO UNITARIO" class="contenidoF">{{ retornarPrecioUnitario(i, item?.QAPCTC) | number : '1.2-2' }}</td>
                        <td data-label="DESC. Y REB OTORGADA" class="contenidoF">{{ 0    | number : '1.2-2' }}</td>
                        <td data-label="IMPUESTO" class="contenidoF"> {{ retornarLetra( item?.TCMTRF )}} </td>
                        <td data-label="TOTAL" class="contenidoF">{{ item?.IVLDCS    | number : '1.2-2' }}</td>
                      </tr>

                      <!-- <tr>
                        <td data-label="CANTIDAD"> 01</td>
                        <td data-label="DESCRIPCION">FLETE</td>
                        <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                        <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                        <td data-label="IMPUESTO"> G </td>
                        <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                      </tr> -->

                        <tr style=" border-collapse: collapse;"  *ngFor="let item of espaciosBlancos "> 
                            <td class="espacioB"  colspan="6"></td>
                        </tr>

                        <tr style=" border-collapse: collapse;"> 
                            <td style="text-align:left !important; font-size: 0.9em !important; " class="espacioB" colspan="6">
                                {{obs}}
                            </td>
                        </tr>
                    
                    </tbody>
                    <tfoot>
                        <tr >
                                <!-- Número a letras -->
                            <th class="legend left" colspan="4" >VALOR EN LETRAS: <span class="legend">
                                <!-- CUATRO MIL SEICIENTOS CINCUENTA Y CUATRO LEMPIRAS 05/100 M.N -->
                                {{ convertirNumLetra( retornarTotal(),[])}}
                            </span>:</th>

                        <th class="right"> SUBTOTAL L.</th>
                        <th class="right"> {{ retornarSubtotal() | number : '1.2-2':'es' }} </th>
                        </tr>
                        <!-- Importe Exento -->
                             <tr >
                            <th  class="legend left"colspan="4" >NO. CORRELATIVO DE ORDEN DE COMPRA EXENTA: {{cabeceraF[0]['TOBCTC']}} </th>
                            <th class="right"> Importe ExentoL.</th>
                            <th class="right"> {{ 0 | number : '1.2-2':'es'}} </th>
                            </tr>
                        <!-- Importe Exonerado -->
                        <tr >
                            <th class="legend left" colspan="4" >NO. CORRELATIVO DE CONSTANCIA DE REGISTRO EXONERADO: {{cabeceraF[0]['TOBCTC2']}} </th>
                            <th class="right" > Importe ExoneradoL.</th>
                            <th class="right"> {{ cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es'}} </th>
                        </tr>
                           <!-- Importe Gravado al 15% -->
                           <tr >
                            <th class="legend left" colspan="3" >NO. IDENTIFICATIVO DEL REGISTRO DE LA SAG:</th>
                            <th class="right" colspan="2"> Importe Gravado al 15%L.</th>
                            <th class="right"> {{ retornarSubtotal()-cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es' }} </th>
                        </tr>

                          <!-- Importe Gravado al 18% -->
                          <tr >
                            <th ></th>
                            <th ></th>
                            <th ></th>
                            <th class="right" colspan="2"> Importe Gravado al 18%L.</th>
                            <th class="right"> {{ 0 | number : '1.2-2':'es' }} </th>
                        </tr>

                        <!-- ISV 15% -->
                        <tr >
                            <th class="legend left" colspan="4" >**Vencido el plazo de pago de este documento genera 3% de interés***:</th>
                            <th class="right"> I.S.V 15%L.</th>
                            <th class="right"> {{ cabeceraF[0]['IVLIGS'] | number : '1.2-2':'es' }} </th>
                        </tr>

                           <!-- ISV 18% -->
                           <tr >
                            <th class="legend left" colspan="4" >**Si su pago con cheque resulta rechazado tendrá un recargo de L400.00***:</th>
                            <th class="right"> I.S.V 18%L.</th>
                            <th class="right"> {{ 0 | number : '1.2-2'}} </th>
                        </tr>
                          <!-- Total a pagar -->
                          <tr >
                            <!-- <th ></th> -->
                            <th></th>
                            <th></th>
                            <th></th> 
                            <th></th>
                            <!-- <div >
                            <label > INGRESADO POR MARIO VELASQUEZ</label>
                            </div> -->
                            <th class="right"> Total a pagarL.</th>
                            <th class="right"> {{ retornarTotal() | number : '1.2-2':'es'}} </th>
                        </tr>

                        <tr >
                            <!-- <th ></th> -->
                            <th  colspan="3" style="padding-top: 7%;" class=" footE center legend"> FIRMA Y SELLO DEL CIENTE</th>
                            <th  colspan="3" class=" footE rigth legend"> LA FACTURA ES BENEFICIO DE TODOS, EXIJALA</th>
                        </tr>

                    </tfoot>  
                  </table>
               </div>
        </div>
            <div class="row">
                <div class="col-md-12 container footL">
                    <label class="center"> DUPLICADO: OBLIGADO TRIBUTARIO EMISOR </label>
                </div>
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> DUPLICADO: TRIBUTARIO EMISOR</label>
                </div> -->
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> TRIPLICADO: ARCHIVO</label>
                </div> -->
            </div>
            <div class="row container">
                <div class="col-md-12 container">
                    <label class="center" style="color:#050404 !important; padding-top: 3%;"> {{ parametros[0]['lemaFactura']}} </label>

                </div>
            </div>
        </div>
    </mat-card>
</div>

<div class="container padre herencia mt-4" id="archivo" *ngIf="DcabeceraF.length >= 1 && loading1 && loading2 && cabeceraF.length >= 1 && permitido">
    <mat-card class="cardPersonalizada">
        <div class="row">
        <div class="col-md-6">
            <img src="../../../../assets/images/Almahsa_BN.png" alt="">
            <p>
             {{parametros[0]['nombreCompleto']}}
             {{parametros[0]['direccion1']}}: {{ parametros[0]['direccion2']}}
             Municipio:{{ parametros[0]['municipio']}}, Departamento: {{ parametros[0]['Departamento']}} <br> 
             Tel: {{parametros[0]['Telfijo']}}, {{parametros[0]['TelCel']}}  
            </p>
        </div>

        <div class="col-md-6 mt-4">
            <p>
                <span style="text-align: left !important;">FACTURA</span> <br>
            <span style="text-align:left  !important; color:#050404 !important; font-size: 1.2em !important;">
                    000-001-01-{{retornarCorrelativo()}}
                </span>
            </p>
            <!-- <h4 > FECHA: {{ fecha | date:'mediumDate' | uppercase }} </h4> -->
            <h4 > FECHA: {{ dia }}/{{mes}}/{{anio}} </h4>
        <mat-divider class="material-dividier" style="color: #050404 !important;"></mat-divider>

        <p> 
            CAI: {{ parametrosCai[0]['CAI']}} <br>
            <span> RANGO AUTORIZADO </span> <br>
            {{ parametrosCai[0]['desde'] }} AL {{ parametrosCai[0]['hasta'] }} <br>
            FECHA LIMITE DE EMISION: {{ parametrosCai[0]['fechaLimite'] | date: 'dd/MM/yyyy'}} 
            </p>
        </div>

        <div class="mt-2">
            <div class="row contain1">
                <div class="col-md-6" >
                    <p>
                    <span style="text-align: left !important;" class="leftC"> CLIENTE: {{  cabeceraF[0]['TCMPCL'] }} </span> <br>
                    <span style="text-align: left !important;"> DIRECCION: {{cabeceraF[0]['TDRCOR'] }} </span> <br>
                    <!-- <span style="text-align: left !important;"> TELEFONO : 2290-0200</span> -->
                    </p>
                    </div>
                    <div class="col-md-6 center container">
                        <p>
                     RTN: {{ cabeceraF[0]['NRUC2'] }}
                        </p>
                    </div>
            </div>
        </div>

        <div class="tabla mt-4">
            <div class="table-responsive !important" >
                <table>
                    <thead>
                      <tr>
                        <th class="contenidoF" scope="col">CANTIDAD</th>
                        <th class="contenidoF" scope="col">DESCRIPCION</th>
                        <th class="contenidoF" scope="col">PRECIO UNITARIO</th>
                        <th class="contenidoF" scope="col">DESC. Y REB OTORGADA</th>
                        <th class="contenidoF" scope="col">IMPUESTO</th>
                        <th class="contenidoF" scope="col">TOTAL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of DcabeceraF; let i = index">
                        <td data-label="CANTIDAD" class="contenidoF"> {{ item?.QAPCTC  | number }} </td>
                        <td data-label="DESCRIPCION" class="contenidoF"> {{item?.TCMTRF }} </td>
                        <td data-label="PRECIO UNITARIO" class="contenidoF">{{ retornarPrecioUnitario(i, item?.QAPCTC) | number : '1.2-2' }}</td>
                        <td data-label="DESC. Y REB OTORGADA" class="contenidoF">{{ 0    | number : '1.2-2' }}</td>
                        <td data-label="IMPUESTO" class="contenidoF"> {{ retornarLetra( item?.TCMTRF )}} </td>
                        <td data-label="TOTAL" class="contenidoF">{{ item?.IVLDCS    | number : '1.2-2' }}</td>
                      </tr>

                      <!-- <tr>
                        <td data-label="CANTIDAD"> 01</td>
                        <td data-label="DESCRIPCION">FLETE</td>
                        <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                        <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                        <td data-label="IMPUESTO"> G </td>
                        <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                      </tr> -->

                        <tr style=" border-collapse: collapse;"  *ngFor="let item of espaciosBlancos "> 
                            <td class="espacioB"  colspan="6"></td>
                        </tr>

                        <tr style=" border-collapse: collapse;"> 
                            <td style="text-align:left !important; font-size: 0.9em !important; " class="espacioB" colspan="6">
                                {{obs}}
                            </td>
                        </tr>
                    
                    </tbody>
                    <tfoot>
                        <tr >
                                <!-- Número a letras -->
                            <th class="legend left" colspan="4" >VALOR EN LETRAS: <span class="legend">
                                <!-- CUATRO MIL SEICIENTOS CINCUENTA Y CUATRO LEMPIRAS 05/100 M.N -->
                                {{ convertirNumLetra( retornarTotal(),[])}}
                            </span>:</th>

                        <th class="right"> SUBTOTAL L.</th>
                        <th class="right"> {{ retornarSubtotal() | number : '1.2-2':'es' }} </th>
                        </tr>
                        <!-- Importe Exento -->
                             <tr >
                            <th  class="legend left"colspan="4" >NO. CORRELATIVO DE ORDEN DE COMPRA EXENTA: {{cabeceraF[0]['TOBCTC']}} </th>
                            <th class="right"> Importe ExentoL.</th>
                            <th class="right"> {{ 0 | number : '1.2-2':'es'}} </th>
                            </tr>
                        <!-- Importe Exonerado -->
                        <tr >
                            <th class="legend left" colspan="4" >NO. CORRELATIVO DE CONSTANCIA DE REGISTRO EXONERADO: {{cabeceraF[0]['TOBCTC2']}} </th>
                            <th class="right" > Importe ExoneradoL.</th>
                            <th class="right"> {{ cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es'}} </th>
                        </tr>
                           <!-- Importe Gravado al 15% -->
                           <tr >
                            <th class="legend left" colspan="3" >NO. IDENTIFICATIVO DEL REGISTRO DE LA SAG:</th>
                            <th class="right" colspan="2"> Importe Gravado al 15%L.</th>
                            <th class="right"> {{ retornarSubtotal()-cabeceraF[0]['IVLNAS'] | number : '1.2-2':'es' }} </th>
                        </tr>

                          <!-- Importe Gravado al 18% -->
                          <tr >
                            <th ></th>
                            <th ></th>
                            <th ></th>
                            <th class="right" colspan="2"> Importe Gravado al 18%L.</th>
                            <th class="right"> {{ 0 | number : '1.2-2':'es' }} </th>
                        </tr>

                        <!-- ISV 15% -->
                        <tr >
                            <th class="legend left" colspan="4" >**Vencido el plazo de pago de este documento genera 3% de interés***:</th>
                            <th class="right"> I.S.V 15%L.</th>
                            <th class="right"> {{ cabeceraF[0]['IVLIGS'] | number : '1.2-2':'es' }} </th>
                        </tr>

                           <!-- ISV 18% -->
                           <tr >
                            <th class="legend left" colspan="4" >**Si su pago con cheque resulta rechazado tendrá un recargo de L400.00***:</th>
                            <th class="right"> I.S.V 18%L.</th>
                            <th class="right"> {{ 0 | number : '1.2-2'}} </th>
                        </tr>
                          <!-- Total a pagar -->
                          <tr >
                            <!-- <th ></th> -->
                            <th></th>
                            <th></th>
                            <th></th> 
                            <th></th>
                            <!-- <div >
                            <label > INGRESADO POR MARIO VELASQUEZ</label>
                            </div> -->
                            <th class="right"> Total a pagarL.</th>
                            <th class="right"> {{ retornarTotal() | number : '1.2-2':'es'}} </th>
                        </tr>

                        <tr >
                            <!-- <th ></th> -->
                            <th  colspan="3" style="padding-top: 7%;" class=" footE center legend"> FIRMA Y SELLO DEL CIENTE</th>
                            <th  colspan="3" class=" footE rigth legend"> LA FACTURA ES BENEFICIO DE TODOS, EXIJALA</th>
                        </tr>

                    </tfoot>  
                  </table>
               </div>
        </div>
            <div class="row">
                <div class="col-md-12 container footL">
                    <label class="center"> TRIPLICADO: ARCHIVO </label>
                </div>
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> DUPLICADO: TRIBUTARIO EMISOR</label>
                </div> -->
                <!-- <div class="col-md-4 container footL">
                    <label class="center"> TRIPLICADO: ARCHIVO</label>
                </div> -->
            </div>
            <div class="row container">
                <div class="col-md-12 container">
                    <label class="center" style="color:#050404 !important; padding-top: 3%;"> {{ parametros[0]['lemaFactura']}} </label>

                </div>
            </div>
        </div>
    </mat-card>
</div>
<!-- id?:string, NombreFinal ?: string, detalle?: string, titulo ?: string -->
<button mat-raised-button class="buttonPrincipal btn-flotante" #tooltip="matTooltip" matTooltip="Generar PDF"  matTooltipPosition="left" 
(click)="GenerarPdf()">
    <mat-icon> picture_as_pdf </mat-icon>
</button>
<!-- this.cabeceraF[0]['NDCCTC'] -->
<app-loading *ngIf="!loading1 && !loading2"></app-loading>


<nav *ngIf="DcabeceraF.length < 1 || cabeceraF.length < 1 || !loading1 || !loading2" aria-label="breadcrumb">
    <ol class="breadcrumb container">
     <h4> No se encuentra información de la factura {{ documento }} del cliente {{cliente}} </h4>
    </ol>
</nav>

<nav *ngIf="!permitido" aria-label="breadcrumb" class="container">
    <ol class="breadcrumb container">
     <h4> Rango de Facturas vencido </h4>
    </ol>
</nav>