
   <div class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>404</h1>
                <h3 class="text-uppercase">Page Not Found!</h3>
        
                <!-- <div class="RANSA">
                    <app-spinner></app-spinner>
                </div> -->
    
                <!-- <p class="text-muted">Si ves esto, trata de regresar a inicio</p> -->
                <!-- <a (click)="RetornarInicio()" class="btn btn-info btn-rounded waves-effect waves-light"> Regresar a Inicio </a> </div> -->
                <div class="container">
                    <button (click)="RetornarInicio()"  class="buttonC"> Inicio </button>
                    </div>


            <footer class="footer text-center mt-2"> {{ year }} {{ Empresa }}</footer>
        </div>
    </div>
   
