<nav class="NavbarPrincipal">
  <div class="row fila">

        <div class="col-md-6  texto">
            <h4 class="bienvenido" style="text-transform: uppercase;"> BIENVENIDO {{ dataUsuario?.nombreCompleto }}</h4>
          <!-- <img src="../../../assets/images/logoRansa.ico" alt=""> -->
        </div>
        <!-- <div class="col-md-4">
          <img src="../../../assets/images/logoRansa.ico" alt="">
        </div> -->

        <div class="col-md-6 imagen">

        <img *ngIf="flatImagen"   [src] ="this.dataUsuario.imgPerfil"       class=" avatar" />
        <img *ngIf="!flatImagen"  src   ="../../../assets/images/User2.png" class=" avatar" />

     <button mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu" class="custom-class" color="primary">
        <button mat-menu-item *ngFor="let item of dataMenu" (click)=" accion(item.accion)">
          <mat-icon> {{ item.icon   }} </mat-icon>
          <span>     {{ item.titulo }} </span>
        </button>
      </mat-menu>

      
        </div>
        
 
</div>
</nav>








