.prueba{
  width: 100%;
}
.textSideHeader{
    width: 100% ;
    height: 100% ;
    font-size: 13px ;
    background-color: transparent;
    color: #ffffff  ;
    font: bold;
}

.textSide {
    width: 100% ;
    height: 100% ;
    font-size: 5px ;
    color: #006F1D ;
}

// i.active{
//   background-color: red;
//   padding: 3px;
//   text-decoration: none;
//   transition: all .5s;
//   margin-left: 15px;
// }

// i:focus, i:hover, i:active{
//   background-color: red;
//   padding: 3px;
//   text-decoration: none;
//   transition: all .5s;
//   margin-left: 15px;
// }

.iconC{
    color: #ffffff !important;
}
.icon {
    color: #006F1D !important;
    font-size: 19px !important;
    height: 100%;
}

.logoSideBar {
    max-width: 190px;
    max-height: 120px;
}

.fs{
    background-color: #ffffff ;
    color: #006F1D !important;
}

 .fs :hover {
    border-radius: 5px;
    background-color: #006F1D !important ;
    color: #FE9600 !important;
      .icon{
        color: #FE9600 !important;
      }
}


.is-active {
    border-radius: 5px;
    border-left-color:  #006F1D;
    border-left-style: solid !important;
    border-left-width: 5px !important;
    background: #ffffff !important;

}

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.mat-list-item a {
    height: 45px;
    margin-top: 5px !important;
    // padding: 5px 10px !important;
    margin-bottom: 10px !important;
    align-items: center;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
}

.snav {
    background-color: #006F1D;
    color: white;
  }
  
.snav:hover {
    color: #FE9600;
  }

.mat-list-item span {
    color: #FE9600;
}


.mat-expansion-panelP {
    background-color: #006F1D !important;
    color: #ffffff;
}
.mat-expansion-panelPersonalizado {
  background-color:whitesmoke !important;
  margin-bottom: 5px !important ;
}


.mat-expansion-panelPersonalizado{
  .mat-expansion-panel-header-description,
  .mat-expansion-indicator::after {
    color: transparent !important;
  }
  .contentAccordion {
    border-left-width: 5px !important;
    border-color: #006F1D !important;
    background-color: #f8fafc !important;
    border-left-style: solid !important;

  }
}

::ng-deep.mat-expansion-panel-body {
  padding: 0px !important;
}

::ng-deep .mat-drawer-inner-container {
    background-color: white !important;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
}

::ng-deep .mat-expansion-indicator::after {
    color: white !important;
}

.accordion {
    overflow-anchor: none;
  }
  .accordion > .card {
    overflow: hidden;
  }
  .accordion > .card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .accordion > .card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
  }

.mat-list-base{
padding-top: 0px !important;
}


  .mat-expansion-panelP {
    background-color: #006F1D !important;
    color: #ffffff !important;
    margin-bottom: 5px !important;
}

@media (min-width: 1650px) {
    .main-container.boxed {
      max-width: 1920px;
      margin: 0 auto;
    }
  }
  /*============================================================== 
   For Laptop & above all (1370px) 
   ============================================================== */
  @media (max-width: 1600px) {
    .main-container.boxed {
      max-width: 1300px;
      margin: 0 auto;
    }
  }
  

  @media only screen  and (max-width: 450px){
      .textSide{
        display: none ;
      }
  }




  