
<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/seguridad/menus']">Menus</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo Menu</li>
    </ol>
</nav> -->


<mat-card class="cardPersonalizada">
 
    <mat-card-header class="header">  Menús de  {{ data['padre']['menuPadre']}}
    <mat-icon style="float: right !important;" (click)="close()" > close </mat-icon>

    </mat-card-header>

    <mat-card-content>
        <mat-list *ngIf="hijos?.length > 0">
            <div mat-subheader>Menus Hijos</div>
            <mat-list-item  *ngFor="let hijo of hijos">
              <span> <i class="{{ hijo?.icon }}  " ></i> </span>
              <div mat-line> {{ hijo?.menuHijo }} </div>
              <div mat-line> {{ data['padre']['menuPadre'] }} </div>
              <div mat-line> {{ data['modulo']['modulo'] }} </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>

<nav *ngIf="hijos?.length < 1" aria-label="breadcrumb">
    <ol class="breadcrumb container">
     <h4> El menú {{data['padre']['menuPadre'] }} no tiene hijos asignados </h4>
    </ol>
</nav>

    </mat-card-content>
</mat-card>