<div class="row mb-4">
    <div class="col-md-12">
        <div class="text-right" style="margin-right: 2 !important;" >
            <button mat-raised-button class="buttonPrincipal" [disabled]="!auth.Insercion()" (click)="Modal(1,[],2)">
                <mat-icon>
                  add
                </mat-icon>
                Agregar Extintor
            </button>
        </div>
    </div>
    <div class="col-md-12 ">
        <mat-card  class="card mat-elevation-z1 example-card" *ngFor="let mod of extintores" (click)="menu(modulos,mod)" >
        <h3 style="text-align: center !important;" >{{ mod?.Nomenclatura }} </h3>
                <div class="container">
                    <span style="text-align: center !important;" class="badge bg-danger  mb-1"  *ngIf="mod?.Bandera == 0" >{{mod?.dias}}</span>
                    <span style="text-align: center !important;" class="badge bg-warning mb-1" *ngIf="mod?.Bandera == 5">  {{mod?.dias}} </span>
                    <span style="text-align: center !important;" class="badge bg-info mb-1" *ngIf="mod?.Bandera == 10"> {{mod?.dias}} </span>
                </div>
<div class="container mt-4">
    <img mat-card-image src="../../../.././../assets/images/extintor.PNG" alt="Extintor">
</div>

<mat-card-content>
    <h3 [ngStyle]="{'color': mod?.estado==0?'red':'green'}" style="font-size: x-small !important; text-align: center !important;"> {{ mod?.ubicacion }} </h3>
</mat-card-content>
        </mat-card>
    </div>
</div>



<ng-template  #modulos>
    <h4 class="container"> Extintor {{ extintor }} </h4>
  <mat-nav-list >
    <a  mat-list-item *ngFor="let bottom of opcionesModules" (click)="Accion(bottom?.accion)">
        <mat-icon>{{bottom.icono}}</mat-icon>
        <span mat-line><b>{{bottom.titulo}}</b></span>
        <span mat-line>{{bottom.subtitulo}}</span>
        <mat-divider></mat-divider>
    </a>
  </mat-nav-list>
  </ng-template>