<div class="row mb-4">
    <div class="col-md-12">
        <div class="text-right" style="margin-right: 2 !important;" >
            <button mat-raised-button class="buttonPrincipal" [disabled]="!auth.Insercion()" (click)="Modal(1,[],2)">
                <mat-icon>
                  add
                </mat-icon>
                Agregar Extintor
            </button>
        </div>
    </div>
    <div class="col-md-12 ">
        <mat-card  class="card mat-elevation-z1 example-card" *ngFor="let mod of extintores" (click)="menu(modulos,mod)" >
   <mat-card-header>
       <mat-card-tittle style="text-align: center !important;">  {{ mod?.Nomenclatura }} </mat-card-tittle>
</mat-card-header>
<img style="justify-content: center !important;" mat-card-image src="../../../.././../assets/images/extintor.jpg" alt="Extintor">

<mat-card-content >
    <p style="font-size: x-small !important;"> {{ mod?.ubicacion }} </p>
</mat-card-content>
        </mat-card>
    </div>
</div>



<ng-template  #modulos>
    <h4 class="container"> Extintor {{ extintor }} </h4>
  <mat-nav-list >
    <a  mat-list-item *ngFor="let bottom of opcionesModules" (click)="Accion(bottom?.accion)" >
        <mat-icon>{{bottom.icono}}</mat-icon>
        <span mat-line><b>{{bottom.titulo}}</b></span>
        <span mat-line>{{bottom.subtitulo}}</span>
        <mat-divider></mat-divider>
    </a>
  
  </mat-nav-list>
  </ng-template>