<mat-card class="mat-cardContainerCuerpo mat-elevation-z0">
    <form [formGroup]="filtro">
        <div class="row">
            <div class="col-md-8">
                <mat-form-field appearance="legacy">
                    <mat-label>
                        <mat-icon> search </mat-icon>
                        Buscar
                    </mat-label>
                    <input matInput placeholder="NombreUsuario,Solicitante,Contenido,Identidad, Placa" formControlName="filtrar">
                </mat-form-field>
            </div>
     
            <!-- <div class="col-md-6">
                <div class="text-right">
                    <button mat-raised-button class="buttonPrincipal" [hidden]="!auth.Insercion()">
                        <mat-icon>
                            add
                        </mat-icon>
                        Agregar Pase Salida
                    </button>
                </div>
            </div> -->
        </div>
    </form>
       <div class="table-responsive !important">
        <table  >
            <!-- <caption>Statement Summary</caption> -->
            <thead>
              <tr>
                <th scope="col">Fecha/Hora de Salida</th>
                <th scope="col">Fecha/Hora Portón   </th>
                <th scope="col">Creador</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Placa</th>
                <th scope="col">Identidad</th>
                <th scope="col">Diferencia</th>
                <th scope="col" [hidden]="!auth.Insercion()">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tr of pases | search: this.filtro.value.filtrar:parametrosBusqueda | slice: desde: hasta " class="trHover">
                <td data-label="Fecha/Hora de Salida"> {{ tr?.Fecha }} {{ ValidacionHora(tr?.Fecha)}}</td>
                <td data-label="Fecha/Hora Portón">    {{ tr?.fechaAprobacion     }}</td>
                <td data-label="Creador">              {{ tr?.NombreUsuario          }}</td>
                <td data-label="Solicitante">          {{ tr?.Nombre }} </td>
                <td data-label="Placa">                {{ tr?.camion }} </td>
                <td data-label="Identidad">            {{ tr?.identidad }} </td>
                <td data-label="Diferencia">
                    <span class="badge bg-danger"  *ngIf="tr?.Diferencia < 0"> {{ tr?.Diferencia }}</span>
                    <span class="badge bg-success" *ngIf="tr?.Diferencia >= 0">{{ tr?.Diferencia }}</span>
                </td>
                <td data-label="Acciones" [hidden]="!auth.Insercion()">
                <div class="text-center">
                <!-- Ver Pase -->
                <button mat-mini-fab class="buttonSecundary" [hidden]="!auth.Insercion()" #tooltip="matTooltip" (click)="enviarLocalStorage(tr)"  matTooltip="Ver Pase" matTooltipPosition="above" >
                    <mat-icon>visibility</mat-icon>
                    </button>
                </div>
                </td>
              </tr>
            </tbody>
          </table>
          
       </div>
          <mat-paginator [length]="pases.length" [pageSize]="pageSize " (page)="next($event)">
        </mat-paginator>
</mat-card>