<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/seguridad/menus']">Menus</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo Menu</li>
    </ol>
</nav> -->


<mat-card class="cardPersonalizada">
 
    <mat-card-header class="header">   Menú {{ data['padre']['menuPadre']}}
    <mat-icon style="float: right !important;" (click)="close()" > close </mat-icon>

    </mat-card-header>


    <mat-card-content>
        <form [formGroup]="menuForm" style="margin-top: 2%;">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field hintLabel="Max 50 Caracteres" appearance="legacy">
                        <mat-label>Nombre Menú</mat-label>
                        <input matInput readonly="true" #texto maxlength="50" placeholder="Nombre Menú" formControlName ="menuPadre">
                        <mat-hint align="end">{{texto.value?.length || 0}}/50</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="legacy">
                        <mat-label>Icono</mat-label>
                        <input #icono readonly="true" matInput placeholder="Icono de Angular Material" formControlName ="icono">
                        <span matSuffix> <mat-icon #icon>{{icono?.value}}</mat-icon></span>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="legacy">
                        <mat-label>Modulo</mat-label>
                        <input readonly="true"  matInput placeholder="Modulo" formControlName ="modulo">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="legacy">
                        <mat-label>Estado</mat-label>
                        <input readonly="true"  matInput placeholder="Estado" formControlName ="estado">
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-6 container">
                    <mat-form-field appearance="legacy">
                        <mat-label>Imagen </mat-label>
                        <input #imagen matInput placeholder="Url de imagen" formControlName ="imagen">
                        <span matSuffix>  </span>
                    </mat-form-field>
                </div>
                <div class="col-md-6 container" >
                </div> -->
            </div>


            <!-- <div class="container">
                <button class="buttonPrincipal" mat-raised-button type="submit" [disabled]="f.invalid" (click)="insertarMenu()" >Guardar</button>
            </div> -->
        </form>
    </mat-card-content>
</mat-card>