
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/modulos']">Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/ransa/administracion/menus']">Menús</a></li>
    </ol>
</nav>
<form [formGroup]="filtro">
    <div class="row">
        <div class="col-md-6">
  
            <mat-form-field appearance="legacy">
                <mat-label>
                    <mat-icon> search </mat-icon>
                    Buscar
                </mat-label>
                <input matInput placeholder="Rol" formControlName="filtrar">
            </mat-form-field>
  
        </div>
  
        <div class="col-md-6">
            <div class="text-right">
                <button mat-raised-button class="buttonPrincipal" (click)="nuevoPermiso()">
                    <mat-icon>
                      add
                    </mat-icon>
                    Agregar Permiso
                </button>
            </div>
        </div>
    </div>
  </form>
  
  
  <div class="table-responsive !important">
    <table  >
        <!-- <caption>Statement Summary</caption> -->
        <thead>
          <tr>
            <th scope="col">Rol</th>
            <th scope="col">Inserción</th>
            <th scope="col">Actualización</th>
            <th scope="col">Eliminación</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permiso of dataPermisos?.data?.Table0   | search: this.filtro.value.filtrar:parametrosBusqueda | slice: desde: hasta " class="trHover">
            <td data-label="Usuario Ransa">{{   permiso?.rol      | uppercase  }}</td>
            <td data-label="Inserción">
              <span *ngIf="permiso?.insertar == 1">
                  <mat-icon class="success">check_box</mat-icon>
              </span>
              <span *ngIf="permiso?.insertar != 1">
                  <mat-icon class="error">indeterminate_check_box</mat-icon>
              </span>    
          </td>

          <td data-label="Actualización">
            <span *ngIf="permiso?.actualizar == 1">
                <mat-icon class="success">check_box</mat-icon>
            </span>
            <span *ngIf="permiso?.actualizar != 1">
                <mat-icon class="error">indeterminate_check_box</mat-icon>
            </span>    
        </td>
        
        <td data-label="Eliminación">
          <span *ngIf="permiso?.eliminar == 1">
              <mat-icon class="success">check_box</mat-icon>
          </span>
          <span *ngIf="permiso?.eliminar != 1">
              <mat-icon class="error">indeterminate_check_box</mat-icon>
          </span>    
      </td>

            <td data-label="Acciones">
            <div class="text-center">

           <!-- Ver
           <button mat-mini-fab class="buttonSecundary"   #tooltip="matTooltip" matTooltip="Ver perfil del usuario" matTooltipPosition="left">
               <mat-icon>visibility</mat-icon>
           </button> -->
           
             <!-- Editar -->
             <button mat-mini-fab class="buttonSecundary"  (click)="editarPermiso( permiso )" >
               <mat-icon>create</mat-icon>
           </button>                                                                                                               
           <!-- Eliminar -->
           <button mat-mini-fab class="btnDelete" (click)="eliminarPermiso(permiso?.idRol, permiso?.idMenuHijo ,permiso?.rol, permiso?.menuHijo)" >
                        <mat-icon>delete_forever</mat-icon>
           </button>
            </div>

            </td>
          </tr>
        </tbody>
      </table>
      
   </div>
      <mat-paginator [length]="dataPermisos?.data?.Table0.length" [pageSize]="pageSize " (page)="next($event)">
    </mat-paginator>