<div class="container padre herencia"  id="Retencion" *ngIf="retencionBD.length > 0 && permitido">
    <mat-card class="cardPersonalizada">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../../assets/images/logoRansa.ico" class="img" alt="">
                <p class = "empresa">
                <span class="nombre" > {{parametros[0]?.['nombreCompleto']}}</span> <br>
                 RTN: {{parametros[0]?.['rtnEmpresa']}} <br>
                 {{parametros[0]?.['direccion1']}}: {{ parametros[0]?.['direccion2']}} <br>
                 Municipio: {{ parametros[0]?.['municipio']}}, Departamento: {{ parametros[0]?.['Departamento']}} <br> 
                 Tel: {{parametros[0]?.['Telfijo']}}, {{parametros[0]?.['TelCel']}}  <br>
                <span *ngIf="parametros[0]?.['correo']"> Correo: {{parametros[0]?.['correo']}}  </span>
                </p>
            </div>
    
            <div class="col-md-6 mt-4" style="text-align: right !important;">
                <p class="right factura" >
                    <span class="factura" > COMPROBANTE RETENCION </span> <br>
                    <span class="correlativo factura">  000-001-05-0000{{  correlativoN }}  </span> 
                  </p>
                  <!-- <h4 > FECHA: {{ fecha | date:'mediumDate' | uppercase }} </h4> -->
                  <!-- <mat-divider class="material-dividier"></mat-divider> -->
                  <p class="rigth" > 
                  <span style="font-size: 1.1em !important; font-weight:  bold !important;"> Fecha: {{ DiaP }}/{{mesP}}/{{anioP}} </span> <br>
                CAI: {{ parametrosCai[0]?.['CAI']}} <br>
                <span style="font-size: 1.1em !important; font-weight:  bold !important;"> Rango Autorizado: </span> <br>
                {{ parametrosCai[0]?.['desde'] }} AL {{ parametrosCai[0]?.['hasta'] }} <br>
                <span style="font-size: 1.1em !important; font-weight:  bold !important;">Fecha Limite De Emisión: {{ parametrosCai[0]?.['fechaLimite'] | date: 'dd/MM/yyyy'}} </span> <br>
                <!-- <span style="font-size: 1.1em !important; font-weight:  bold !important;"> Fecha: 30/12/2023 </span> -->
                </p>
            </div>

            
                <div class="row ">
               
            <div class="col-md-12 left">
            
            <p class="empresaM">
Por este medio hacemos constar que en esta fecha hemos retenido a: Tegucigalpa, M.D.C.           <span> {{DiaP}} </span> de <span> {{ cargarMes(mesP)}} </span> del <span> {{anioP}} </span><br>

Sr(es): <span class="left" style="text-decoration: underline;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ retencionBD[0]?.proveedor | uppercase }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>  con RTN : <span style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ retencionBD[0]?.RTN}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <br>
La cantidad de: <span style="text-decoration: underline;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ convertirNumLetra( retornarSubtotal('retencion135') ) | uppercase }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>

            </p>



                        </div>
             <div class="col-md-12">
                            <p class="black empresaM">
                                En concepto de retención de: 

                                <mat-checkbox class="radio" disabled="true" [(ngModel)]="anulacion"><span style="font-size: 0.9em !important; font-family: Arial, Helvetica, sans-serif !important;">Impuesto sobre la renta</span>  </mat-checkbox>
                                <mat-checkbox class="radio" disabled="true" [(ngModel)]="devolcion"><span style="font-size: 0.9em !important; font-family: Arial, Helvetica, sans-serif !important;">Impuesto sobre venta</span> </mat-checkbox>
                            </p>
                            <!-- <section class="example-section ">
                               
                              </section> -->
                        </div>
                </div>

                <div class="tabla mt-2" >
                    <div class="table-responsive !important" >
                        <table>
                            <thead>
                              <tr >
                                <th class="contenidoF" scope="col">Fecha Factura</th>
                                <th class="contenidoF" colspan="3" scope="col">CAI</th>
                                <th class="contenidoF" colspan="2" scope="col">Factura  </th>
                                <th class="contenidoF" scope="col">% de Retención</th>
                                <th class="contenidoF" scope="col">Base Retención</th>
                                <th class="contenidoF" scope="col">Monto Retenido</th>
                              </tr>
                            </thead>
        
        
                            <tbody class="bordes2">
                              <tr *ngFor="let item of retencionBD; let i = index"> 
                                <td data-label="Fecha Factura" class="contenidoF">          {{ item?.fecha   | date : 'shortDate' }} </td>
                                <td data-label="CAI"  colspan="3" class="contenidoF">       {{ item?.CAI                          }} </td>
                                <td data-label="Factura"  colspan="2" class="contenidoF">   {{ item?.documento                    }}</td>
                                <td data-label="% de Retención" class="contenidoF">         {{ item?.TipRetencion                 }}</td>
                                <td data-label="Base Retención" class="contenidoF right">   {{ item?.baseRetencion | number : '1.2-2'   }}</td>
                                <td data-label="Monto Retenido" class="contenidoF right">   {{ item?.retencion135  | number : '1.2-2'  }} </td>
                              </tr>
                       
        
                              <!-- <tr>
                                <td data-label="CANTIDAD"> 01</td>
                                <td data-label="DESCRIPCION">FLETE</td>
                                <td data-label="PRECIO UNITARIO">{{ 4047 | currency : 'Lps' }}</td>
                                <td data-label="DESC. Y REB OTORGADA">{{ 0    | currency : 'Lps' }}</td>
                                <td data-label="IMPUESTO"> G </td>
                                <td data-label="TOTAL">{{ 4047    | currency  : 'Lps'}}</td>
                              </tr> -->
        
                                <tr  *ngFor="let item of espaciosBlancos"> 
                                    <td class="espacioB"  colspan="6"></td>
                                </tr>

                                <tr  > 
                                  <td class="espacioB"  > ***************</td>
                                  <td class="espacioB" colspan="3"  > ***************</td>
                                  <td class="espacioB" colspan="2" > ***************</td>
                                  <td class="espacioB"  > ***************</td>
                                  <td class="espacioB right"  > ***************</td>
                                  <td class="espacioB right"  > ***************</td>


                              </tr>

                            </tbody>
        
        
                              <tfoot>
                                <tr >
                                           <!-- Número a letras -->
                                           <th class="right" colspan="7" >Totales  </th>
                                    
                                    <!-- vista de base de retenciones -->
                                           <!-- <th class="center" style="font-size: 0.7em !important;"> {{ retornarSubtotal('baseR')  | number }} </th> -->


                                           <th class="right legend" *ngIf=" retornarSubtotal('baseRetencion') <= 0"                                      > <span  class="letra0"> L.        </span>            {{ retornarSubtotal('baseRetencion') | number : '1.2-2' }}  </th>
                                           <th class="right legend" *ngIf=" retornarSubtotal('baseRetencion') >  0        && retornarSubtotal('baseRetencion') <= 99"      > <span  class="letra0"> L.        </span>  {{ retornarSubtotal('baseRetencion') | number : '1.2-2' }}  </th>
                                           <th class="right legend" *ngIf=" retornarSubtotal('baseRetencion') >= 100      && retornarSubtotal('baseRetencion') <= 999"     > <span  class="letra100"> L.      </span>  {{ retornarSubtotal('baseRetencion') | number : '1.2-2' }}  </th>
                                           <th class="right legend" *ngIf=" retornarSubtotal('baseRetencion') >= 1000     && retornarSubtotal('baseRetencion') <= 9999"    > <span  class="letra1000"> L.     </span>  {{ retornarSubtotal('baseRetencion') | number : '1.2-2' }}  </th>
                                           <th class="right legend" *ngIf=" retornarSubtotal('baseRetencion') >= 10000    && retornarSubtotal('baseRetencion') <= 99999"   > <span  class="letra10000"> L.    </span>  {{ retornarSubtotal('baseRetencion') | number : '1.2-2' }}  </th>
                                           <th class="right legend" *ngIf=" retornarSubtotal('baseRetencion') >= 100000   && retornarSubtotal('baseRetencion') <= 999999"  > <span  class="letra100000"> L.   </span>  {{ retornarSubtotal('baseRetencion') | number : '1.2-2' }}  </th>
                                           <th class="right legend" *ngIf=" retornarSubtotal('baseRetencion') >= 1000000  && retornarSubtotal('baseRetencion') <= 9999999" > <span  class="letra1000000"> L.  </span>  {{ retornarSubtotal('baseRetencion') | number : '1.2-2' }}  </th>
                                           <th class="right legend" *ngIf=" retornarSubtotal('baseRetencion') >= 10000000 "                              > <span  class="letra10000000"> L. </span>            {{ retornarSubtotal('baseRetencion') | number : '1.2-2' }}  </th>



                                    <!-- vista de monto retenido -->
                                    <!-- <th class="center" style="font-size: 0.7em !important;"> {{ retornarSubtotal('montoR') | number }}</th> -->

                                    <th class="right legend" *ngIf=" retornarSubtotal(tipoR) <= 0"                                      > <span  class="letra0"> L.        </span>          {{ retornarSubtotal(tipoR) | number : '1.2-2' }}  </th>
                                    <th class="right legend" *ngIf=" retornarSubtotal(tipoR) >  0        && retornarSubtotal(tipoR) <= 99"      > <span  class="letra0"> L.        </span>  {{ retornarSubtotal(tipoR) | number : '1.2-2' }}  </th>
                                    <th class="right legend" *ngIf=" retornarSubtotal(tipoR) >= 100      && retornarSubtotal(tipoR) <= 999"     > <span  class="letra100"> L.      </span>  {{ retornarSubtotal(tipoR) | number : '1.2-2' }}  </th>
                                    <th class="right legend" *ngIf=" retornarSubtotal(tipoR) >= 1000     && retornarSubtotal(tipoR) <= 9999"    > <span  class="letra1000"> L.     </span>  {{ retornarSubtotal(tipoR) | number : '1.2-2' }}  </th>
                                    <th class="right legend" *ngIf=" retornarSubtotal(tipoR) >= 10000    && retornarSubtotal(tipoR) <= 99999"   > <span  class="letra10000"> L.    </span>  {{ retornarSubtotal(tipoR) | number : '1.2-2' }}  </th>
                                    <th class="right legend" *ngIf=" retornarSubtotal(tipoR) >= 100000   && retornarSubtotal(tipoR) <= 999999"  > <span  class="letra100000"> L.   </span>  {{ retornarSubtotal(tipoR) | number : '1.2-2' }}  </th>
                                    <th class="right legend" *ngIf=" retornarSubtotal(tipoR) >= 1000000  && retornarSubtotal(tipoR) <= 9999999" > <span  class="letra1000000"> L.  </span>  {{ retornarSubtotal(tipoR) | number : '1.2-2' }}  </th>
                                    <th class="right legend" *ngIf=" retornarSubtotal(tipoR) >= 10000000 "                              > <span  class="letra10000000"> L. </span>            {{ retornarSubtotal( tipoR) | number : '1.2-2' }}  </th>





        
        
                            </tfoot>   
                          </table>
                       </div>
                </div>

                <div class="row mt-2">
                  <p>
                    NOTA: Esta retención debe aplicarla como crédito contra el pago de su ISR o ISV en su declaración anual o mensual, <br>
                    Observaciones: No deberá presentar enmiendas, borrones y/o tachaduras
                  </p>
                </div>


                <div class="row container" style="margin-top: 5% !important">
                  _____________________________________________ <br>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Firma Autorizada y Sello del Agente Retenedor


              </div>
                <div class="row " style="margin-top: 2% !important">
                  <div class="col-md 12 firm container footL">   <label class="center">  Original Proveedor </label>  </div>
              </div>
        </div>
    </mat-card>
</div>



<button mat-raised-button class="buttonPrincipal btn-flotante" #tooltip="matTooltip" matTooltip="Generar PDF"  matTooltipPosition="left" 
(click)="GenerarPdf()">
    <mat-icon> picture_as_pdf </mat-icon>
</button>


<nav *ngIf="!permitido" aria-label="breadcrumb" class="container">
  <ol class="breadcrumb container">
   <h4> Rango de Documentos vencido </h4>
  </ol>
</nav>



<nav *ngIf="retencionBD.length <= 0 && permitido" aria-label="breadcrumb">
  <ol class="breadcrumb container">
   <h4> No se encuentra información de Retención del proveedor seleccionado  </h4>
  </ol>
</nav>